<smitd-header>
  <button mat-icon-button routerLink="">
    <mat-icon>chevron_left</mat-icon>
  </button>

  <h2>{{'fighter-store-page.title' | translate}}</h2>

  <button mat-icon-button [matMenuTriggerFor]="battlegroundSelection">
    <mat-icon>menu</mat-icon>
  </button>

  <mat-menu #battlegroundSelection="matMenu">
    <button mat-menu-item (click)="addFighter()">{{'fighter-store-page.menu.fighter-add' | translate}}</button>
    <button mat-menu-item (click)="importFighterStore()">{{'fighter-store-page.menu.import' | translate}}</button>
    <button mat-menu-item (click)="exportFighterStore()">{{'fighter-store-page.menu.export' | translate}}</button>
  </mat-menu>
</smitd-header>
<div class="scroll-container">
  <div class="fighters-container">
    <div class="faction" *ngFor="let faction of fighterStore.factions">
      <div class="divider">
        <mat-divider></mat-divider>
        <span class="label">{{faction.name}}</span>
        <mat-divider></mat-divider>
      </div>
      <div class="fighters">
        <smitd-fighter-card [fighter]="fighter" [mode]="FighterCardMode.list"
          *ngFor="let fighter of faction.fighterTypes; let index = index">
          <div class="options" options>
            <div class="divider">
              <mat-divider></mat-divider>
              <span>{{'common.options' | translate}}</span>
              <mat-divider></mat-divider>
            </div>
            <smitd-divider-expansion *ngIf="fighter.role === FighterRole.Ally || fighter.role === FighterRole.Monster || fighter.role === FighterRole.Thrall">
              <span dividerLabel>{{'warband-page.tab.fighters.form.abilities.label' | translate}}</span>
              <div class="abilities" expansionContent>
                <ng-container *ngFor="let ability of fighter.abilities; let abilityIndex = index">
                  <div class="ability-card">
                    <smitd-ability-card [ability]="ability" [edit]="true"></smitd-ability-card>
                    <div class="ability-options">
                      <div class="button-wrapper dark">
                        <button class="remove-ability" mat-mini-fab
                          (click)="editFighterAbility(fighter, index, abilityIndex)">
                          <mat-icon>edit</mat-icon>
                        </button>
                      </div>
                      <div class="button-wrapper dark">
                        <button class="remove-ability" mat-mini-fab color="warn"
                          (click)="removeFighterAbility(fighter, index, abilityIndex)">
                          <mat-icon>delete</mat-icon>
                        </button>
                      </div>
                    </div>
                  </div>
                </ng-container>
                <button class="add-ability" color="accent" mat-flat-button
                  (click)="addFighterAbility(fighter, index)">{{'warband-page.tab.fighters.form.abilities.add' | translate}}</button>
              </div>
            </smitd-divider-expansion>
            <div class="triple">
              <button mat-flat-button color="accent"
                (click)="editFighter(fighter)">{{'fighter-store-page.option.edit' | translate}}</button>
              <button mat-flat-button color="accent"
                (click)="duplicateFighter(fighter)">{{'fighter-store-page.option.duplicate' | translate}}</button>
              <button mat-flat-button color="warn"
                (click)="fighterStore.discardFighter(fighter)">{{'fighter-store-page.option.remove' | translate}}</button>
            </div>
          </div>
        </smitd-fighter-card>
      </div>
    </div>
    <button mat-flat-button color="accent" class="add" *ngIf="!fighterStore.factions.length"
      (click)="addFighter()">{{'fighter-store-page.menu.fighter-add' | translate}}</button>
  </div>
</div>
