:host {
  display: block;
  width: 100%;
}

.ability-details {
  display: grid;
  grid-template-columns: min-content 1fr min-content;
  align-items: center;
  margin-top: -18px;

  mat-divider {
    height: 100%;
  }

  &.runemarked {
    grid-template-columns: min-content 72px min-content 1fr min-content;
    .runemarks {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 24px 16px 16px;
      height: 100%;
      box-sizing: border-box;
    }
  }

  p {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 16px;
    padding: 24px 16px 16px;
    height: 100%;
    box-sizing: border-box;
    text-align: justify;
    text-align-last: center;
  }
}
