<div class="divider" [ngClass]="{'edit': edit}">
  <mat-divider  [ngClass]="{'dark-borders': darkBorders}"></mat-divider>
  <span>[{{'ability-type.' + ability.type  | translate}}]
    {{ability.title || 'common.unknown' | translate}}</span>
  <mat-divider  [ngClass]="{'dark-borders': darkBorders}"></mat-divider>
</div>
<div class="ability-details" [ngClass]="{'runemarked': showRunemarks && ability.runemarks.length}">
  <mat-divider  [ngClass]="{'dark-borders': darkBorders}" vertical></mat-divider>
  <div class="runemarks"  *ngIf="showRunemarks && ability.runemarks.length">
      <ng-container *ngFor="let runemark of runemarks">
        <img [src]="iconSrc" [alt]="runemark.key" [ngClass]="{'invert': !darkBorders}" class="runemark" *ngIf="runemark.icon as iconSrc; else runemarkKey">
        <ng-template #runemarkKey>
          <span>{{runemark.key}}</span>
        </ng-template>
      </ng-container>
  </div>
  <mat-divider  [ngClass]="{'dark-borders': darkBorders}" vertical  *ngIf="showRunemarks && ability.runemarks.length"></mat-divider>
  <p>{{ability.description}}</p>
  <mat-divider  [ngClass]="{'dark-borders': darkBorders}" vertical></mat-divider>
</div>
<mat-divider  [ngClass]="{'dark-borders': darkBorders}"></mat-divider>
