<div class="battle-frame" [ngClass]="{'battleframe': mode === 'battle'}">
  <div class="battleframe-header" [ngStyle]="{'height': battleFrameHeight}" *ngIf="mode === 'battle'">
    <ng-content select="[battleframeHeader]"></ng-content>
  </div>
  <mat-expansion-panel class="fighter-card" hideToggle [disabled]="dead" [expanded]="dead ? false : expanded"
    (expandedChange)="expanded = !expanded" #fighterExpansion>
    <mat-expansion-panel-header matRipple #fighterExpansionHeader class="fighter-header" warbandColor
      [warbandColorAsync]="core.color" [warbandColorImportant]="fighter.color ? fighter.color : deadColor" [warbandColorOpaque]="true"
      [ngClass]="{'iconed': fighter.icon}">
      <div class="fighter-icon" warbandColor [warbandColorAsync]="core.color"
        [ngStyle]="{'background-image': 'url(' + iconSrc + ')'}" [warbandColorOpaque]="false"
        *ngIf="fighter.icon as iconSrc">
      </div>
      <mat-panel-title class="fighter-name"
        [ngClass]="{'long': (fighter.name ? fighter.name.length : fighter.type.length) > 24}">
        <p>
          {{fighter.name ? fighter.name : fighter.type}} <ng-container *ngIf="!fighter.name">
            <span *ngIf="getLabels(fighter, fighterReference) as labels">[
              {{labels}}
              ]</span>
          </ng-container>
        </p>
        <span *ngIf="fighter.name">
          {{fighter.type}} <span *ngIf="getLabels(fighter, fighterReference) as labels">[
            {{labels}}
            ]</span>
        </span>
      </mat-panel-title>
      <mat-panel-description class="fighter-points">
        <ng-content select="[cdkDragHandle]">
        </ng-content>
        <ng-container *ngIf="mode !== 'battle'">
          <b class="number">
            {{fighter.points}} <span>{{'common.pts' | translate}}</span>
          </b>
        </ng-container>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <div class="fighter-details">
      <div class="fighter-characteristics">
        <div class="fighter-stats">
          <div class="stat"><img src="assets/runemarks/characteristic-movement.svg"
              [alt]="'fighter-card.characteristic.movement' | translate" class="runemark"><span
              class="number" [ngClass]="{'positive': getModifier('movement') > 0, 'negative':  getModifier('movement') < 0 }">{{ getModified('movement')}}</span>
          </div>
          <div class="stat"><img src="assets/runemarks/characteristic-toughness.svg"
              [alt]="'fighter-card.characteristic.toughness' | translate" class="runemark"><span
              class="number" [ngClass]="{'positive': getModifier('toughness') > 0, 'negative': getModifier('toughness') < 0 }">{{getModified('toughness')}}</span>
          </div>
          <div class="stat"><img src="assets/runemarks/characteristic-wounds.svg"
              [alt]="'fighter-card.characteristic.wounds' | translate" class="runemark"><span
              class="number" [ngClass]="{'positive': getModifier('wounds') > 0, 'negative': getModifier('wounds') < 0 }">{{getModified('wounds')}}</span>
          </div>
        </div>

        <div class="fighter-weapon-header">
          <div><img src="assets/runemarks/characteristic-range.svg"
              [alt]="'fighter-card.characteristic.range' | translate" class="runemark"></div>
          <div><img src="assets/runemarks/characteristic-attacks.svg"
              [alt]="'fighter-card.characteristic.attacks' | translate" class="runemark"></div>
          <div><img src="assets/runemarks/characteristic-strength.svg"
              [alt]="'fighter-card.characteristic.strength' | translate" class="runemark"></div>
          <div><img src="assets/runemarks/characteristic-damage.svg"
              [alt]="'fighter-card.characteristic.damage' | translate" class="runemark"></div>
        </div>
        <div class="fighter-runemarks" matRipple (click)="callAbilities.emit()">
          <span *ngFor="let runemark of fighter.runemarks">{{runemark}}</span>
          <span *ngIf="fighter.runemarks.length === 0">{{'fighter-card.characteristic.no-ability' | translate}}</span>
        </div>
        <div class="fighter-weapons">
          <ng-container *ngFor="let weapon of fighter.weapons; let index = index">
            <span class="number" [ngClass]="{'last-row': index === fighter.weapons.length - 1}">{{weapon.range}}</span>
            <span class="number" [ngClass]="{
              'last-row': index === fighter.weapons.length - 1,
              'positive': getModifier('weapon', 'attacks', index) > 0,
              'negative': getModifier('weapon', 'attacks', index) < 0
            }">{{getModified('weapon', 'attacks', index)}}</span>
            <span class="number" [ngClass]="{
              'last-row': index === fighter.weapons.length - 1,
              'positive': getModifier('weapon', 'strength', index) > 0,
              'negative': getModifier('weapon', 'strength', index) < 0
            }">{{getModified('weapon', 'strength', index)}}</span>
            <span class="number" [ngClass]="{'last-row': index === fighter.weapons.length - 1}">
              <span [ngClass]="{
              'positive': getModifier('weapon', 'damage', index) > 0,
              'negative': getModifier('weapon', 'damage', index) < 0
            }">{{getModified('weapon', 'damage', index)}}</span>
              /
              <span [ngClass]="{
              'positive': getModifier('weapon', 'crit', index) > 0,
              'negative': getModifier('weapon', 'crit', index) < 0
            }">{{getModified('weapon', 'crit', index)}}</span>
            </span>
          </ng-container>
        </div>
      </div>
      <ng-content select="[options]"></ng-content>
    </div>
  </mat-expansion-panel>
</div>
