@import 'colors';
@import 'dimensions';

:host {
  display: block;
  position: relative;
  width: 100%;
}

.fighter-card {
  display: block;
  box-sizing: border-box;
  border-radius: 12px;
  overflow: hidden;

  .fighter-header {
    display: flex;
    background: none;
    position: relative;
    padding: 12px 0 12px 12px;
    height: auto;
    border-radius: 0;
    overflow: hidden;

    &.iconed {
      padding-left: 60px;

      .fighter-icon {
        position: absolute;
        top: 0;
        left: 0;
        width: 48px;
        height: 100%;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
      }
    }

    .fighter-name {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: baseline;
      text-transform: uppercase;
      font-weight: bold;
      font-size: 14px;
      margin: 0;

      p {
        margin: 0;
        text-overflow: ellipsis;
        max-width: 100%;
        overflow: hidden;
        line-height: 14px;
      }

      span {
        font-size: 12px;
        line-height: 12px;
      }
    }
    .fighter-points {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0;
      text-transform: uppercase;
      font-weight: bold;
      font-size: 14px;
      min-width: 64px;

      span {
        margin: 4px 0 0 0;
        font-size: 10px;
      }
    }
  }

  .fighter-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: $black;

    .fighter-characteristics {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 34px auto;
      column-gap: 8px;
      width: 100%;
      max-width: 520px;
      min-height: unset;
      overflow: hidden;

      .fighter-stats {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;

        .stat {
          display: flex;
          justify-content: space-evenly;
          align-items: center;
          font-size: 14px;
          font-weight: bold;
          padding: 4px 6px;
          border-right: solid 2px $black;
          border-bottom: solid 2px $black;
          flex-shrink: 0;

          span {
            flex-shrink: 0;
            display: block;
            text-align: right;
          }

          &:last-of-type {
            border-right: none;
          }
        }
      }

      .fighter-runemarks {
        flex-grow: 1;
        cursor: pointer;
        justify-content: center;
        align-items: center;
        font-size: 14px;
        font-weight: bold;
        text-align: left;
        border-radius: 4px;
        padding: 4px;
        background-color: rgba($black, 0.1);
        white-space: nowrap;
        overflow: hidden;
        display: flex;
        flex-wrap: wrap;
        min-height: 48px;
        box-sizing: border-box;

        span {
          display: block;
          text-overflow: ellipsis;
          overflow: hidden;
          text-align: center;

          &::after {
            content: ',';
            margin-right: 4px;
          }

          &:last-of-type::after {
            content: none;
          }
        }
      }

      .fighter-weapon-header,
      .fighter-weapons {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;

        & > * {
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 4px;
          border-right: solid 2px $black;
          border-bottom: solid 2px $black;
          min-width: 24px;
          font-size: 14px;
          white-space: nowrap;

          &:nth-of-type(4n) {
            border-right: none;
          }

          &.last-row {
            border-bottom: none;
            padding-bottom: 0;
          }
        }
      }
    }
  }

  .mat-stroked-button:not(.mat-button-disabled) {
    border-color: rgba($black, 0.12);
  }

  &.mat-expanded {
    position: relative;
    z-index: 1;
    .fighter-header {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }
  }

  &.mat-expansion-panel:not(.mat-expanded):not([aria-disabled='true'])
    .mat-expansion-panel-header:hover {
    background: none;
  }
}

.battleframe {
  position: relative;

  .battleframe-header {
    position: absolute;
    right: 0;
    z-index: 2;
    display: flex;
    align-items: center;
  }
  .fighter-card {
    border-radius: 20px;
    .fighter-header {
      .fighter-points {
        position: relative;
        margin: 0;
        min-height: 56px;
        width: 92px;
      }
    }
  }
}

.negative {
  color: $red-dark;
}

.positive {
  color: $green-dark;
}

@include mobile {
  .fighter-card {
    .fighter-header {
      .fighter-name {
        p {
          font-size: 18px;
          line-height: 18px;
        }
      }
      .fighter-points {
        font-size: 18px;

        span {
          font-size: 12px;
        }
      }
    }
    .fighter-details {
      .fighter-characteristics {
        .fighter-stats {
          .stat {
            font-size: 18px;
          }
        }
        .fighter-runemarks {
          font-size: 18px;
        }
        .fighter-weapons {
          & > * {
            font-size: 18px;
          }
        }
      }
    }
  }
}

@include laptop {
  .fighter-card {
    .fighter-details {
      .fighter-characteristics {
        column-gap: 12px;
      }
    }
  }
}
