<smitd-header>

  <div></div>

  <h1>{{'title' | translate}}</h1>

  <button mat-icon-button [matMenuTriggerFor]="main">
    <mat-icon>menu</mat-icon>
  </button>

  <mat-menu #main="matMenu">
    <button mat-menu-item (click)="battleService.prepareBattle()">{{'main-page.menu.quick-battle' | translate}}</button>
    <button mat-menu-item (click)="addWarband()">{{'main-page.menu.warband-create' | translate}}</button>
    <button mat-menu-item (click)="importWarband()">{{'main-page.menu.warband-import' | translate}}</button>
    <button mat-menu-item routerLink="/battlegrounds">{{'main-page.menu.battlegrounds' | translate}}</button>
    <button mat-menu-item routerLink="/fighter-store">{{'main-page.menu.fighter-store' | translate}}</button>
    <button mat-menu-item routerLink="/runemarks">{{'main-page.menu.runemarks' | translate}}</button>
    <button mat-menu-item [matMenuTriggerFor]="settings">{{'main-page.menu.settings' | translate}}</button>
    <a mat-menu-item href="https://github.com/SmitdCatchy/warcry-companion/blob/main/GUIDE.md#-warcry-companion-guide" target="_blank">{{'main-page.menu.guide' | translate}}</a>
    <a mat-menu-item (click)="getLatestVersion()">3.5.1 - Chosen</a>
  </mat-menu>

  <mat-menu #settings="matMenu">
    <button mat-menu-item (click)="core.switchEffects()">{{'main-page.menu.toggle-effects' | translate}}</button>
    <button mat-menu-item [matMenuTriggerFor]="theme">{{'main-page.menu.select-theme' | translate}}</button>
    <button mat-menu-item [matMenuTriggerFor]="language">{{'main-page.menu.language-selection' | translate}}</button>
    <a href="https://github.com/SmitdCatchy/warcry-companion#-warcry-companion" target="_blank"
      mat-menu-item>{{'main-page.menu.github' | translate}}</a>
  </mat-menu>

  <mat-menu #language="matMenu">
    <button mat-menu-item (click)="translationService.setLanguage(language)"
      *ngFor="let language of languageList">{{'language.' + language | translate}}</button>
    <a href="https://github.com/SmitdCatchy/warcry-companion#language-support" target="_blank"
      mat-menu-item>{{'main-page.menu.language-add' | translate}}</a>
  </mat-menu>

  <mat-menu #theme="matMenu">
    <button mat-menu-item (click)="core.setTheme(theme)"
      *ngFor="let theme of themeList">{{'theme.' + theme | translate}}</button>
  </mat-menu>
</smitd-header>
<div class="scroll-container">
  <div class="warbands" cdkDropList (cdkDropListDropped)="warbandService.moveWarband($event)" *ngIf="warbandService.loaded">
    <div class="warband" [warbandColor]="warband.color" cdkDrag cdkDragBoundary=".warbands"
      [ngClass]="{'iconed': warband.icon}" *ngFor="let warband of warbandService.warbands; let index = index">
      <div class="warband-icon" [ngStyle]="{'background-image': 'url(' + iconSrc + ')'}" warbandColor
        [warbandColor]="warband.color" [warbandColorOpaque]="false" *ngIf="warband.icon as iconSrc"></div>
      <span class="warband-name">
        {{warband.name}}
      </span>
      <div class="warband-ripple" matRipple (click)="warbandService.selectWarband(index)"></div>
      <div class="drag-marker">
        <button class="warband-options" mat-icon-button [matMenuTriggerFor]="warbandMenu" cdkDragHandle>
          <mat-icon>more_vert</mat-icon>
        </button>
      </div>
      <mat-menu #warbandMenu="matMenu">
        <button mat-menu-item (click)="warbandService.selectWarband(index)">
          <span>{{'main-page.warband-options.select' | translate}}</span>
        </button>
        <button mat-menu-item (click)="exportWarband(warband)">
          <span>{{'main-page.warband-options.export' | translate}}</span>
        </button>
        <button mat-menu-item (click)="duplicateWarband(warband)">
          <span>{{'main-page.warband-options.duplicate' | translate}}</span>
        </button>
        <button mat-menu-item (click)="warbandService.removeWarband(index)">
          <span>{{'main-page.warband-options.remove' | translate}}</span>
        </button>
      </mat-menu>
    </div>

    <button mat-flat-button color="accent" class="add" *ngIf="!warbandService.warbands.length"
      (click)="addWarband()">{{'main-page.menu.warband-create' | translate}}</button>
    <button mat-flat-button color="accent" class="add" *ngIf="!warbandService.warbands.length"
      (click)="importWarband()">{{'main-page.menu.warband-import' | translate}}</button>
  </div>
</div>

<div class="bottom-action-bar">
  <a mat-raised-button href="https://github.com/SmitdCatchy/warcry-companion/blob/main/GUIDE.md#-warcry-companion-guide" target="_blank">
    <mat-icon>info</mat-icon>
  </a>
  <button mat-raised-button routerLink="/battlegrounds">
    <mat-icon>explore</mat-icon>
  </button>
  <button mat-raised-button (click)="addWarband()">
    <mat-icon>group_add</mat-icon>
  </button>
  <button mat-raised-button routerLink="/fighter-store">
    <mat-icon>groups_3</mat-icon>
  </button>
  <button mat-raised-button (click)="battleService.prepareBattle()">
    <mat-icon svgIcon="swords"></mat-icon>
  </button>
</div>
