.hint {
  margin-top: -1.2em;
  font-size: 12px;
  line-height: 14px;
  text-align: left;
  white-space: pre-line;
}

.option {
  white-space: normal;
  line-height: 1.2;

  span {
    font-size: 8px;
  }
}

.parser {
  opacity: 0;
  pointer-events: none;
  position: absolute;
}
