<h2>{{'warband-dialog.title' | translate}}</h2>
<form [formGroup]="warbandForm" class="dialog-content">
  <div class="double icon">
    <smitd-icon-uploader [iconValue]="icon.value" (iconValueChange)="iconValueChange($event)" [selectedColor]="selectedColor"></smitd-icon-uploader>
    <mat-form-field appearance="fill">
      <mat-label>{{'warband-dialog.form.name.label' | translate}}</mat-label>
      <input matInput formControlName="name">
    </mat-form-field>
  </div>
  <mat-form-field appearance="fill">
    <mat-label>{{'warband-dialog.form.faction.label' | translate}}</mat-label>
    <input matInput formControlName="faction">
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>{{'warband-dialog.form.alliance.label' | translate}}</mat-label>
    <input matInput formControlName="alliance">
  </mat-form-field>
  <div class="color-picker">
    <mat-form-field appearance="fill">
      <mat-label>{{'warband-dialog.form.color.label' | translate}}</mat-label>
      <mat-select formControlName="color" #colorSelect>
        <mat-option *ngFor="let color of colorList" [value]="color.value">{{'color.' + color.key | translate}}</mat-option>
      </mat-select>
    </mat-form-field>
    <input class="color-sample" type="color" formControlName="color" [value]="selectedColor">
  </div>
</form>
<div class="actions">
  <button mat-flat-button color="accent" (click)="acceptDialog()" [disabled]="warbandForm.invalid">{{'warband-dialog.action.add' | translate}}</button>
  <button mat-flat-button (click)="closeDialog()">{{'common.back' | translate}}</button>
</div>
