@import 'colors';

:host {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  input {
    display: none;
  }
}
.canvas {
  cursor: pointer;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  width: 52px;
  height: 52px;
  box-sizing: border-box;
  overflow: hidden;

  img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
  }

  .remove {
    position: absolute;
    top: 0;
    right: 0;
    width: 24px;
    height: 24px;
    margin-right: 0;

    mat-icon {
      font-size: 20px;
      margin-top: -12px;
    }
  }
}

canvas {
  position: absolute;
  pointer-events: none;
  visibility: hidden;
  width: 0;
  height: 0;
}
