<ng-container *ngFor="let abilityGroup of data.abilityGroups">
  <ng-container *ngIf="abilityGroup.abilities.length">
    <div class="divider">
      <mat-divider></mat-divider>
      <span class="label" *ngIf="abilityGroup.label as label">{{label}}</span>
      <mat-divider></mat-divider>
    </div>
    <smitd-ability-card [ability]="ability" [showRunemarks]="data.showRunemarks" [darkBorders]="false" *ngFor="let ability of abilityGroup.abilities"></smitd-ability-card>
  </ng-container>
</ng-container>
