$red-primary: #910c03;
$red-bright: #c30404;
$red-dark: #47110D;
$red-darkest: #160000;
$blue-primary: #025692;
$blue-bright: #0374c4;
$blue-brightest: #9bd4fd;
$green-primary: #549202;
$green-bright: #70c403;
$purple-primary: #540292;
$purple-bright: #7003c4;
$orange-primary: #925802;
$orange-bright: #c47703;
$white: #ffffff;
$grey: #424242;
$grey-dark: #222222;
$grey-light: #cccccc;
$black: #000;
