@import 'colors';
@import 'dimensions';

$material-shadow: 0px 1px 1px -2px rgba($black, 0.4),
  0px 1px 1px 0px rgba($black, 0.4), 0px 1px 4px 0px rgba($black, 0.4),
  0px -1px 1px 0px rgba($black, 0.4);

mat-dialog-container.mat-dialog-container {
  padding: 16px 0;

  & > * {
    display: flex;
    flex-direction: column;
    height: 100%;

    .dialog-content {
      max-width: 400px;
      min-height: 32px;
      width: 100%;
      height: fit-content;
      padding: 0 16px;
      box-sizing: border-box;
      margin: 0 auto;

      & > * {
        width: 100%;
      }
    }

    h2 {
      padding: 0 16px;
    }

    form {
      & > * {
        width: 100%;
      }
    }

    .actions {
      margin-top: auto;
      display: grid;
      gap: 12px;
      grid-template-columns: repeat(auto-fit, minmax(40px, auto));
      padding: 16px 16px 0;
      box-sizing: border-box;
      min-width: 0;
    }
  }
}

mat-slide-toggle.mat-slide-toggle {
  min-height: 24px;
  display: flex;
  align-items: center;
}

.mat-menu-submenu-icon {
  transform: translateY(-50%) rotate(180deg);
}

.mat-drawer-container {
  background-color: transparent !important;
}

.mat-card-header-text {
  margin: 0 !important;
}

mat-card-actions {
  display: flex !important;
  justify-content: space-between;
  align-items: center;
}

button.mat-stroked-button {
  filter: brightness(1.2);
  font-weight: bold;
}

smitd-header img,
smitd-header div {
  width: 40px;
  height: 40px;
}

smitd-warband-page .mat-tab-label {
  height: 40px;

  &.mat-tab-label-active {
    font-weight: bold;
  }
}

.mat-tab-body-content {
  display: flex;
  justify-content: center;
}

.divider {
  display: grid;
  grid-template-columns: minmax(12px, 1fr) auto minmax(12px, 1fr);
  align-items: center;
  grid-gap: 8px;
  text-transform: uppercase;
  width: 100%;
  margin: 8px 0;
  overflow: hidden;
  white-space: nowrap;

  &.edit {
    grid-template-columns: minmax(12px, 1fr) auto minmax(78px, 1fr);
  }

  span {
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
  }
}

body .mat-expansion-panel.fighter-card {
  background-color: transparent;
  .fighter-header {
    .mat-content {
      display: grid;
      grid-gap: 12px;
      grid-template-columns: auto max-content;
      overflow: visible;
      & > * {
        color: inherit;
      }
    }
    .cdk-drag-handle {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      border-radius: 12px;
    }
  }
  .fighter-details {
    .fighter-notes {
      .mat-form-field {
        width: 100%;
        div.mat-form-field-flex {
          padding: 12px 12px 0;
          div.mat-form-field-infix {
            border-top: none;
          }
        }
      }
    }
  }

  .mat-form-field-appearance-fill {
    mat-label,
    .mat-select-value-text,
    .mat-select-arrow {
      color: $black;
    }
    .mat-form-field-underline::before {
      background-color: rgba($black, 0.5);
    }
    .mat-form-field-ripple {
      background-color: rgba($black, 1);
    }
    .mat-form-field-flex {
      background-color: rgba($black, 0.1);
    }
    .mat-input-element {
      caret-color: $black;
    }
  }
  .mat-form-field.mat-focused.mat-primary .mat-select-arrow {
    color: $black;
  }

  .mat-expansion-panel-body {
    background: rgba($white, 0.8);
    padding: 8px;
  }

  .mat-checkbox-frame {
    border-color: $black;
  }
}

body .mat-expansion-panel.divider-expansion {
  background-color: transparent;

  .mat-expansion-attribute::after {
    color: inherit;
  }

  .mat-expansion-panel-header {
    background: transparent;
    padding: 0;
  }

  .mat-expansion-panel-body {
    background: transparent;
    padding: 0;
  }
}

smitd-warband-page .mat-expansion-panel-body {
  padding: 0 8px 8px;
}

@mixin fighterList {
  .fighters-list {
    smitd-fighter-card {
      margin: 12px auto;
      max-width: 540px;

      &:first-of-type {
        margin-top: 0;
      }

      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }

  .fighters-grid {
    display: grid;
    gap: 12px;
    grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));

    smitd-fighter-card {
      margin: 0 auto;
    }

    .fighter-header .mat-ripple-element {
      display: none;
    }
  }

  .cdk-drag-placeholder {
    opacity: 0.5;
    filter: grayscale(1);
  }

  .cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }

  smitd-fighter-card:last-child {
    border: none;
  }

  .fighters-list.cdk-drop-list-dragging
    smitd-fighter-card:not(.cdk-drag-placeholder),
  .fighters-grid.cdk-drop-list-dragging
    smitd-fighter-card:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }
}

@mixin header {
  smitd-header h1,
  smitd-header h2 {
    margin: 0;
    font-weight: bold;
    white-space: nowrap;
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.ng-animating div.mat-expansion-panel-content {
  display: none;
}

input:-internal-autofill-selected {
  background-color: unset !important;
  background-image: unset !important;
  color: unset !important;
}

*:not(input):not(textarea) {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.selectable {
  -webkit-tap-highlight-color: initial;
  -webkit-touch-callout: text;
  -webkit-user-select: text;
  -khtml-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
}

.selectable-all {
  -webkit-tap-highlight-color: initial;
  -webkit-touch-callout: all;
  -webkit-user-select: all;
  -khtml-user-select: all;
  -moz-user-select: all;
  -ms-user-select: all;
  user-select: all;
}

.color-picker {
  display: grid;
  grid-template-columns: auto 40px;
  align-items: center;
  gap: 16px;

  .color-sample {
    cursor: pointer;
    width: 40px;
    height: 40px;
    box-sizing: border-box;
    border-radius: 8px;
    margin-bottom: 1.34375em;
    border: 2px solid;
  }
}

.mat-form-field-label {
  text-align: inherit;
}

.double,
.triple,
.quad,
.penta {
  display: grid !important;
  grid-template-columns: 1fr 1fr;
  gap: 8px;
  max-width: 100%;
  box-sizing: border-box;

  & > * {
    min-width: 0;
    min-height: 0;
  }
}

.center {
  text-align: center;

  input {
    font-size: 18px;
    text-align: center;
  }
}

.triple {
  grid-template-columns: 1fr 1fr 1fr;
}

.quad {
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.penta {
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.quad,
.penta {
  mat-form-field .mat-form-field-flex {
    padding: 0;
    .mat-form-field-infix {
      border: 8px;
      padding: 8px;
    }
  }

  .mat-form-field-appearance-fill {
    mat-select {
      height: 21px;
    }
    .mat-select-arrow-wrapper {
      display: none;
    }
    .mat-select-value {
      text-align: center;
    }
  }
}

.double.icon {
  grid-template-columns: min-content 1fr;
  gap: 16px;
  smitd-icon-uploader {
    margin-bottom: 1.34375em;
  }
}

.runemark {
  width: 18px;
  height: 18px;

  @include mobile {
    width: 24px;
    height: 24px;
  }
}

.dialog-content {
  max-height: 70vh;
  max-width: $tablet;
  overflow: auto;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield;
  appearance: textfield;
}

.drag-marker {
  position: relative;

  &::before {
    pointer-events: none;
    font-family: 'Material Icons' !important;
    text-transform: none;
    position: absolute;
    content: 'unfold_more';
    font-size: 56px;
    left: 50%;
    top: 50%;
    opacity: 0.2;
    filter: blur(2px);
    transform: translate(-50%, -50%);
  }
}

.full-screen-modal {
  @media screen and (max-width: $mobile) {
    max-width: unset !important;
    width: 100%;
    height: calc(100% - 100px);
    transform: translateY(-10px);
  }
}

smitd-warband-page .mat-mini-fab,
smitd-battle-page .mat-mini-fab,
smitd-fighter-store-page .mat-mini-fab,
smitd-battlegrounds-page .mat-mini-fab {
  margin-right: 8px;
  width: 28px;
  height: 28px;

  mat-icon {
    font-size: 20px;
    margin-top: -10px;
  }
}

body mat-panel-description.mat-expansion-panel-header-description,
body mat-panel-title.mat-expansion-panel-header-title {
  color: inherit;
}

smitd-battle-page {
  .mat-tab-header {
    display: none;
  }
}

smitd-warband-page .mat-tab-header {
  box-shadow: $material-shadow;
}

body .mat-bottom-sheet-container {
  max-width: $tablet;
  min-width: unset;
}

smitd-divider-expansion .mat-expansion-panel-body {
  margin: 8px 0 0;
}

.mat-select-panel {
  mat-form-field {
    width: 100%;
    margin-bottom: -1.34375em;
  }
}

body .mat-chip.mat-standard-chip {
  span {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 220px;
  }
}

body .mat-button-base {
  display: inline-flex;
  justify-content: center;
}

.button-wrapper {
  border: solid 2px #4c4a4a;
  border-radius: 50%;
  margin-right: 8px;
  width: 28px;
  height: 28px;

  button {
    margin: 0;
    box-shadow: none !important;
  }

  &.dark {
    border-color: #9d9b9b;
  }
}

.scroll-container {
  width: 100%;
  height: 100%;
  overflow: auto;
  overflow: overlay;
}

.divider mat-divider {
  border-width: 2px;
}

.bottom-action-bar {
  position: fixed;
  z-index: 1000;
  bottom: 0;
  left: 0;
  right: 0;
  height: 60px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  box-shadow: $material-shadow;

  .mat-raised-button {
    display: flex;
    align-items: center;
    height: 60px;
    border-radius: 0;
    font-size: 18px;
    line-height: 18px;
    flex: 1;
    position: relative;

    &:hover,
    &:active {
      z-index: 1;
    }
  }

  @include laptop {
    display: none;

    &.ingame {
      display: flex;
      justify-content: center;
      align-items: flex-end;
      height: 40px;
      .mat-raised-button {
        max-width: 80px;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        margin: 0 4px;
      }
    }
  }
}

.turn-counter-snackbar {
  box-shadow: 0 0 10vh 20vh rgba($black, 0.4) !important;
  margin-top: calc(50vh - 48px) !important;
  pointer-events: none;

  .mat-simple-snackbar {
    font-size: 24px;
    font-weight: bold;
    justify-content: center;
    span {
      white-space: nowrap;
    }
  }
}

.bottom-snackbar {
  margin-top: calc(50vh - 48px) !important;
  pointer-events: none;
}

smitd-warband-page {
  .mat-tab-group {
    height: calc(100% - 60px);

    @include laptop {
      height: calc(100% - 40px);
    }

    .mat-tab-body-wrapper {
      height: calc(100% - 41px);
    }
  }
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mat-tab-label-content {
  font-weight: bold;
}

.runemark-option {
  display: flex;
  align-items: center;
  gap: 12px;

  .runemark-icon {
    height: 28px;
  }
}

@media print {
  body {
    height: auto;
    overflow: unset;
  }
}

main.content > * {
  will-change: left, right;
}
