@use '@angular/material' as mat;
@import url('https://fonts.googleapis.com/css2?family=Gentium+Basic:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import 'colors';

$typography: mat.define-typography-config(
  $font-family: 'Gentium Basic'
);

@include mat.core($typography);

@function createPalette($base-color, $font-primary, $font-secondary) {
  @return mat.define-palette(
    (
      50: lighten($base-color, 30%),
      100: lighten($base-color, 30%),
      200: lighten($base-color, 20%),
      300: lighten($base-color, 10%),
      400: $base-color,
      500: $base-color,
      600: darken($base-color, 10%),
      700: darken($base-color, 20%),
      800: darken($base-color, 30%),
      900: darken($base-color, 30%),
      A100: lighten($base-color, 30%),
      A200: lighten($base-color, 20%),
      A400: lighten($base-color, 10%),
      A700: $base-color,
      contrast: (
        50: $font-secondary,
        100: $font-secondary,
        200: $font-secondary,
        300: $font-primary,
        400: $font-primary,
        500: $font-primary,
        600: $font-primary,
        700: $font-primary,
        800: $font-primary,
        900: $font-primary,
        A100: $font-secondary,
        A200: $font-secondary,
        A400: $font-secondary,
        A700: $font-secondary
      )
    )
  );
}

$warcry-primary: createPalette($white, $white, $black);
$warcry-primary-light: createPalette($black, $white, $black);
$warcry-accent: createPalette($green-primary, $white, $black);
$warcry-accent-dark: createPalette($green-dark, $white, $black);
$warcry-accent-bright: createPalette($green-bright, $white, $black);
$warcry-warn: createPalette($red-primary, $white, $black);
$warcry-warn-dark: createPalette($red-dark, $white, $black);
$warcry-warn-bright: createPalette($red-bright, $white, $black);

@mixin set-background-color($color, $accent) {
  .mat-raised-button,
  .mat-fab,
  .mat-mini-fab,
  .mat-flat-button,
  .mat-menu-panel,
  .mat-dialog-container,
  .mat-tab-header,
  .mat-expansion-panel,
  .mat-card,
  .mat-select-panel,
  .mat-bottom-sheet-container,
  .mat-chip.mat-standard-chip,
  .mat-snack-bar-container,
  .mat-simple-snackbar {
    background-color: $color;
  }

  .mat-expansion-panel {
    background-color: rgba($accent, 0.1);
  }
}

$light-theme: mat.define-light-theme(
  (
    color: (
      primary: $warcry-primary-light,
      accent: $warcry-accent,
      warn: $warcry-warn
    )
  )
);
$dark-theme: mat.define-dark-theme(
  (
    color: (
      primary: $warcry-primary,
      accent: $warcry-accent-bright,
      warn: $warcry-warn-bright
    )
  )
);
$dark-theme-pastel: mat.define-dark-theme(
  (
    color: (
      primary: $warcry-primary,
      accent: $warcry-accent-dark,
      warn: $warcry-warn-dark
    )
  )
);

$material-shadow: 0px 1px 1px -2px rgba($black, 0.4),
  0px 1px 1px 0px rgba($black, 0.4), 0px 1px 4px 0px rgba($black, 0.4),
  0px -1px 1px 0px rgba($black, 0.4);

body,
html {
  margin: 0;
  width: 100vw;
  height: 100%;
  overflow: hidden;

  color: $white;
  background-color: $black;
  background-image: linear-gradient($black 40%, $red-darkest 90%);
  @include mat.all-component-themes($dark-theme);
  @include mat.button-color($dark-theme-pastel);
  @include set-background-color($grey-dark, $white);

  .color-sample {
    border-color: $grey-light;
  }
  .invert {
    filter: invert(1);
  }
  .glass,
  .show-items .fighters-grid-item {
    background-color: rgba($white, 0.1);
  }
  .bottom-action-bar {
    background-color: $grey-dark;

    .mat-raised-button.mat-button-disabled {
      background-color: $grey;
      color: $grey-light;
    }
  }
  .mat-simple-snackbar {
    color: $white;
  }

  &.light {
    color: $black;
    background-color: $white;
    background-image: linear-gradient($grey-lightest 40%, $blue-brightest 90%);
    @include mat.all-component-colors($light-theme);
    @include mat.button-color($light-theme);
    @include set-background-color($white, $black);

    .color-sample {
      border-color: $grey-dark;
    }
    .invert {
      filter: invert(0);
    }
    .show-items .fighters-grid-item {
      background-color: rgba($black, 0.2);
    }
    .bottom-action-bar {
      background-color: $grey-light;
      .mat-raised-button.mat-button-disabled {
        background-color: $grey-light;
        color: $grey;
      }
    }
    .mat-simple-snackbar,
    .mat-tab-label-content {
      color: $black;
    }
  }
}
