@import 'globals';

:host {
  display: block;
  height: inherit;
}

@include header;

h2 {
  span {
    font-size: 14px;
  }
}

.scroll-container {
  height: calc(100% - 100px);
  box-sizing: border-box;
  position: relative;

  @include laptop {
    height: calc(100% - 80px);
  }
}

.prepare,
.battle,
.aftermath {
  display: block;
  padding: 0 12px 12px;
  margin: 0 auto;
  width: 100%;
  box-sizing: border-box;

  & > * {
    width: 100%;
    box-sizing: border-box;
  }

  mat-expansion-panel {
    mat-expansion-panel-header {
      padding: 0 8px;
    }
    margin-bottom: 1.34375em;
  }
}

.prepare {
  & > .divider {
    &:first-of-type {
      margin-top: 0;
    }
  }
}
.aftermath {
  & > .grid-item > .divider {
    &:first-of-type {
      margin-top: 0;
    }
  }
}

.battle,
.aftermath {
  padding-top: 8px;

  &.single {
    padding-top: 12px;
  }

  .battleframe-header {
    display: flex;
    align-items: center;
    color: $white;

    .fighter-state {
      position: relative;
      mat-select {
        visibility: hidden;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
      }

      .state {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 8px;
        padding: 4px;
        border: 2px solid;

        .runemark {
          width: 28px;
          height: 28px;
        }
      }
    }

    .wound-counter {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .value {
        position: absolute;
        font-size: 24px;
        font-weight: bold;
      }
      button {
        position: relative;
      }
    }

    &.black-content {
      color: $black;

      .mat-icon-button.mat-button-disabled.mat-button-disabled {
        color: rgba($black, 0.3);
      }
    }
  }

  & > .divider {
    &:first-of-type {
      margin-top: 0;
    }
  }
}

.score {
  border-radius: 0;
  padding: 0 8px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;

  .stats {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;

    h2 {
      margin: 0 8px;
      white-space: nowrap;
    }

    .victory {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}

@include fighterList;

.options {
  width: 100%;
  & > * {
    width: 100%;
  }

  .mat-divider {
    border-top-color: rgba($black, 0.24);
  }

  .actions {
    display: flex;
    justify-content: space-evenly;
  }

  button {
    margin-bottom: 12px;
  }

  .renowns {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    .renown {
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 8px;
      padding: 4px;
      border: 2px solid;

      .runemark {
        width: 28px;
        height: 28px;
      }
    }
  }

  textarea {
    color: $black !important;
  }

  .narrative {
    & > * {
      width: 100%;
    }
  }

  .modifiers,
  .abilities {
    .modifier-card,
    .ability-card {
      position: relative;
      margin-bottom: 12px;

      .modifier-options,
      .ability-options {
        position: absolute;
        top: -6px;
        right: 0;
        display: flex;
        justify-content: flex-end;
      }
    }

    & > button {
      width: 100%;
    }
  }

  .add {
    width: 100%;
    padding: 8px 8px 8px 16px;
    border-radius: 12px;
    font-size: 18px;
    font-weight: bold;
  }
}

.roster,
.hammer,
.shield,
.dagger,
.wild {
  display: block;
  width: 100%;
  box-sizing: border-box;
  max-width: $tablet;
  min-height: 48px;
  margin: 0 auto;
  border-radius: 12px;
}

.actions {
  &.wild {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.grid-item {
  display: grid;
  grid-template-rows: min-content 1fr;
  min-width: 0;
}

h3 {
  padding: 0 16px;
  text-align: center;
  margin: 0;
}

.peer {
  min-height: 48px;
  padding: 0 8px 0 16px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;

  .warband-name {
    margin-right: 12px;
  }

  &.iconed {
    padding-left: 60px;
    position: relative;

    .warband-icon {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      width: 48px;
      height: 100%;
      background-position: center center;
      background-repeat: no-repeat;
      background-size: contain;
    }
  }

  mat-icon {
    flex-shrink: 0;
  }
}

@include tablet {
  .prepare,
  .battle,
  .aftermath {
    padding: 0 24px 24px;
  }

  .aftermath {
    & > .grid-item > .divider {
      &:first-of-type {
        margin-top: 8px;
      }
    }
  }
}

@include custom(780px) {
  .battle,
  .aftermath {
    .fighters-list {
      display: grid;
      gap: 12px;
      grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
      max-width: unset;

      smitd-fighter-card {
        margin: 0 auto;
      }
    }
  }
}

@include custom(1152px) {
  .prepare,
  .battle {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 24px;
    min-width: 0;
    min-height: 0;

    .grid-item {
      max-width: 100%;
      margin: 0;

      .fighters-list {
        box-sizing: border-box;
      }
    }

    .roster-container,
    .wild-container {
      grid-column-start: 2;
      grid-column-end: 3;
    }
  }

  .battle,
  .aftermath {
    .wild-container {
      grid-column-start: 1;
      grid-column-end: 4;
      .fighters-list {
        column-gap: 24px;
      }
    }
  }
}
