@import 'globals';

:host {
  display: block;
  height: inherit;
}

@include header;

h2 {
  span {
    font-size: 14px;
  }
}

.scroll-container {
  height: calc(100% - 100px);
  box-sizing: border-box;
  position: relative;

  @include laptop {
    height: calc(100% - 80px);
  }
}

.prepare,
.battle {
  display: block;
  padding: 0 12px 12px;
  margin: 0 auto;
  width: 100%;
  box-sizing: border-box;

  & > * {
    width: 100%;
    box-sizing: border-box;
  }

  mat-expansion-panel {
    mat-expansion-panel-header {
      padding: 0 8px;
    }
    margin-bottom: 1.34375em;
  }
}

.prepare {
  & > .divider {
    &:first-of-type {
      margin-top: 0;
    }
  }
}

.battle {
  padding-top: 8px;

  &.single {
    padding-top: 12px;
  }

  .battleframe-header {
    display: flex;
    align-items: center;
    color: $white;

    .fighter-state {
      position: relative;
      mat-select {
        visibility: hidden;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
      }

      .state {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 8px;
        padding: 4px;
        border: 2px solid;

        .runemark {
          width: 28px;
          height: 28px;
        }
      }
    }

    .wound-counter {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .value {
        position: absolute;
        font-size: 24px;
        font-weight: bold;
      }
      button {
        position: relative;
      }
    }
  }

  & > .divider {
    &:first-of-type {
      margin-top: 0;
    }
  }
}

.score {
  border-radius: 0;
  padding: 0 8px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;

  .stats {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;

    h2 {
      margin: 0 8px;
      white-space: nowrap;
    }

    .victory {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}

@include fighterList;

.options {
  width: 100%;
  & > * {
    width: 100%;
  }

  .mat-divider {
    border-top-color: rgba($black, 0.24);
  }

  .actions {
    display: flex;
    justify-content: space-evenly;
  }

  button {
    margin-bottom: 12px;
  }

  .renowns {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    .renown {
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 8px;
      padding: 4px;
      border: 2px solid;

      .runemark {
        width: 28px;
        height: 28px;
      }
    }
  }
}

.roster,
.hammer,
.shield,
.dagger,
.wild {
  display: block;
  width: 100%;
  box-sizing: border-box;
  max-width: $tablet;
  min-height: 48px;
  margin: 0 auto;
  border-radius: 12px;
}

.actions {
  &.wild {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.grid-item {
  display: grid;
  grid-template-rows: min-content 1fr;
  min-width: 0;
}

@include tablet {
  .prepare {
    padding: 0 24px 24px;
  }

  .battle {
    padding: 0 24px 24px;
  }
}

@include custom(780px) {
  .battle {
    .fighters-list {
      display: grid;
      gap: 12px;
      grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
      max-width: unset;

      smitd-fighter-card {
        margin: 0 auto;
      }
    }
  }
}

@include custom(1152px) {
  .prepare,
  .battle {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 24px;
    min-width: 0;
    min-height: 0;

    .grid-item {
      max-width: 100%;
      margin: 0;

      .fighters-list {
        box-sizing: border-box;
      }
    }

    .roster-container,
    .wild-container {
      grid-column-start: 2;
      grid-column-end: 3;
    }
  }

  .battle {
    .wild-container {
      grid-column-start: 1;
      grid-column-end: 4;
      .fighters-list {
        column-gap: 24px;
      }
    }
  }
}
