<smitd-header>

  <button mat-icon-button (click)="core.back()">
    <mat-icon>chevron_left</mat-icon>
  </button>

  <h2>{{warband.name | translate}}</h2>

  <button mat-icon-button [matMenuTriggerFor]="main">
    <mat-icon>menu</mat-icon>
  </button>

  <mat-menu #main="matMenu">
    <button mat-menu-item *ngIf="warband.abilities.length"
      (click)="warbandService.showAbilities(warband.abilities, undefined, warband, true)">{{'battle-page.menu.warband' | translate}}</button>
    <button mat-menu-item *ngIf="battleService.battle.battleState === BattleState.Roster"
      (click)="battleService.beginBattle()">{{'battle-page.menu.begin' | translate}}</button>
    <button mat-menu-item *ngIf="battleService.battle.battleState === BattleState.Battle"
      (click)="endTurn()">{{'battle-page.menu.turn' | translate}}</button>
    <button mat-menu-item *ngIf="battleService.battle.battleState === BattleState.Battle"
      (click)="battleService.endBattle()">{{'battle-page.menu.end' | translate}}</button>
    <button mat-menu-item *ngIf="battleService.battle.battleState === BattleState.Roster"
      (click)="addFighter()">{{'battle-page.menu.fighter' | translate}}</button>
    <button mat-menu-item *ngIf="battleService.battle.battleState === BattleState.Battle"
      (click)="addWildFighter()">{{'battle-page.menu.wild' | translate}}</button>
    <button mat-menu-item (click)="battleService.abortBattle()">{{'battle-page.menu.abort' | translate}}</button>
  </mat-menu>
</smitd-header>
<mat-card class="score">
  <ng-container [ngSwitch]="battle.battleState">
    <ng-container *ngSwitchCase="BattleState.Roster">
      <h2>{{'' | translate}}{{battleService.warbandSize}} /
        {{'' | translate}}{{battle.campaign ? battle.warband.campaign.limit : 1000}} <span>{{'PTS'}}</span></h2>
    </ng-container>
    <ng-container *ngSwitchCase="BattleState.Battle">
      <div class="stats">
        <h2>{{'battle-page.battle.turn' | translate: ({ turn: battle.turn })}}</h2>
        <div class="victory">
          <h2>{{'battle-page.battle.victory-points' | translate}}:</h2>
          <button mat-icon-button aria-label="subtract" [disabled]="battle.victoryPoints - 1 < 0"
            (click)="alterVictoryPoints(-1)">
            <mat-icon>remove</mat-icon>
          </button>
          <h2><b> {{battle.victoryPoints}}</b></h2>
          <button mat-icon-button aria-label="add" (click)="alterVictoryPoints(1)">
            <mat-icon>add</mat-icon>
          </button>
        </div>
      </div>
    </ng-container>
    <ng-container *ngSwitchDefault>
    </ng-container>
  </ng-container>
</mat-card>
<div class="scroll-container">
  <mat-tab-group color="primary" mat-stretch-tabs dynamicHeight [selectedIndex]="battle.battleState">
    <mat-tab>
      <div class="prepare" *ngIf="battle.battleState === 0" [ngClass]="{'show-items': showGridLayout}">
        <div class="grid-item">
          <div class="divider">
            <mat-divider></mat-divider>
            <span class="label">{{'battle-page.group.dagger' | translate}}</span>
            <mat-divider></mat-divider>
          </div>
          <div class="fighters-list dagger fighters-grid-item" cdkDropList #daggerList="cdkDropList"
            [cdkDropListData]="battleService.battle.dagger"
            [cdkDropListConnectedTo]="[rosterList, hammerList, shieldList]"
            (cdkDropListDropped)="battleService.moveFighter($event)">
            <smitd-fighter-card [fighter]="fighter.stats" [fighterReference]="fighter" [mode]="FighterCardMode.list"
              [campaign]="battle.campaign"
              (callAbilities)="warbandService.showAbilities(warband.abilities, fighter.stats, undefined, false, battleService.battle.battlegrounds)"
              *ngFor="let fighter of battleService.battle.dagger; let index = index" cdkDrag cdkDragBoundary=".prepare"
              (cdkDragStarted)="dragStarted()" (cdkDragEnded)="dragEnded()">
              <div class="drag-marker" cdkDragHandle></div>
              <div class="options" options>
                <div class="divider">
                  <mat-divider></mat-divider>
                  <span>{{'battle-page.groups' | translate}}</span>
                  <mat-divider></mat-divider>
                </div>
                <div class="actions">
                  <button mat-flat-button
                    (click)="battleService.reassignFighter(fighter, battleService.battle.dagger, battleService.battle.shield, index)">{{'battle-page.group.shield' | translate}}</button>
                  <button mat-flat-button
                    (click)="battleService.reassignFighter(fighter, battleService.battle.dagger, battleService.battle.hammer, index)">{{'battle-page.group.hammer' | translate}}</button>
                  <button mat-flat-button
                    (click)="battleService.reassignFighter(fighter, battleService.battle.dagger, battleService.battle.roster, index)">{{'battle-page.group.roster' | translate}}</button>
                </div>
                <smitd-divider-expansion
                  *ngIf="battleService.battle.campaign && (fighter.artefacts.length || fighter.injuries.length || fighter.traits.length)">
                  <span dividerLabel>{{'battle-page.modifiers' | translate}}</span>
                  <div class="modifiers" expansionContent>
                    <ng-container *ngFor="let modifier of fighter.artefacts">
                      <smitd-modifier-card [modifier]="modifier"></smitd-modifier-card>
                    </ng-container>
                    <ng-container *ngFor="let modifier of fighter.injuries">
                      <smitd-modifier-card [modifier]="modifier"></smitd-modifier-card>
                    </ng-container>
                    <ng-container *ngFor="let modifier of fighter.traits">
                      <smitd-modifier-card [modifier]="modifier"></smitd-modifier-card>
                    </ng-container>
                  </div>
                </smitd-divider-expansion>
              </div>
            </smitd-fighter-card>
          </div>
        </div>
        <div class="grid-item">
          <div class="divider">
            <mat-divider></mat-divider>
            <span class="label">{{'battle-page.group.shield' | translate}}</span>
            <mat-divider></mat-divider>
          </div>
          <div class="fighters-list shield fighters-grid-item" cdkDropList #shieldList="cdkDropList"
            [cdkDropListData]="battleService.battle.shield"
            [cdkDropListConnectedTo]="[rosterList, hammerList, daggerList]"
            (cdkDropListDropped)="battleService.moveFighter($event)">
            <smitd-fighter-card [fighter]="fighter.stats" [fighterReference]="fighter" [mode]="FighterCardMode.list"
              [campaign]="battle.campaign"
              (callAbilities)="warbandService.showAbilities(warband.abilities, fighter.stats, undefined, false, battleService.battle.battlegrounds)"
              *ngFor="let fighter of battleService.battle.shield; let index = index" cdkDrag cdkDragBoundary=".prepare"
              (cdkDragStarted)="dragStarted()" (cdkDragEnded)="dragEnded()">
              <div class="drag-marker" cdkDragHandle></div>
              <div class="options" options>
                <div class="divider">
                  <mat-divider></mat-divider>
                  <span>{{'battle-page.groups' | translate}}</span>
                  <mat-divider></mat-divider>
                </div>
                <div class="actions">
                  <button mat-flat-button
                    (click)="battleService.reassignFighter(fighter, battleService.battle.shield, battleService.battle.dagger, index)">{{'battle-page.group.dagger' | translate}}</button>
                  <button mat-flat-button
                    (click)="battleService.reassignFighter(fighter, battleService.battle.shield, battleService.battle.hammer, index)">{{'battle-page.group.hammer' | translate}}</button>
                  <button mat-flat-button
                    (click)="battleService.reassignFighter(fighter, battleService.battle.shield, battleService.battle.roster, index)">{{'battle-page.group.roster' | translate}}</button>
                </div>
                <smitd-divider-expansion
                  *ngIf="battleService.battle.campaign && (fighter.artefacts.length || fighter.injuries.length || fighter.traits.length)">
                  <span dividerLabel>{{'battle-page.modifiers' | translate}}</span>
                  <div class="modifiers" expansionContent>
                    <ng-container *ngFor="let modifier of fighter.artefacts">
                      <smitd-modifier-card [modifier]="modifier"></smitd-modifier-card>
                    </ng-container>
                    <ng-container *ngFor="let modifier of fighter.injuries">
                      <smitd-modifier-card [modifier]="modifier"></smitd-modifier-card>
                    </ng-container>
                    <ng-container *ngFor="let modifier of fighter.traits">
                      <smitd-modifier-card [modifier]="modifier"></smitd-modifier-card>
                    </ng-container>
                  </div>
                </smitd-divider-expansion>
              </div>
            </smitd-fighter-card>
          </div>
        </div>
        <div class="grid-item">
          <div class="divider">
            <mat-divider></mat-divider>
            <span class="label">{{'battle-page.group.hammer' | translate}}</span>
            <mat-divider></mat-divider>
          </div>
          <div class="fighters-list hammer fighters-grid-item" cdkDropList #hammerList="cdkDropList"
            [cdkDropListData]="battleService.battle.hammer"
            [cdkDropListConnectedTo]="[rosterList, shieldList, daggerList]"
            (cdkDropListDropped)="battleService.moveFighter($event)">
            <smitd-fighter-card [fighter]="fighter.stats" [fighterReference]="fighter" [mode]="FighterCardMode.list"
              [campaign]="battle.campaign"
              (callAbilities)="warbandService.showAbilities(warband.abilities, fighter.stats, undefined, false, battleService.battle.battlegrounds)"
              *ngFor="let fighter of battleService.battle.hammer; let index = index" cdkDrag cdkDragBoundary=".prepare"
              (cdkDragStarted)="dragStarted()" (cdkDragEnded)="dragEnded()">
              <div class="drag-marker" cdkDragHandle></div>
              <div class="options" options>
                <div class="divider">
                  <mat-divider></mat-divider>
                  <span>{{'battle-page.groups' | translate}}</span>
                  <mat-divider></mat-divider>
                </div>
                <div class="actions">
                  <button mat-flat-button
                    (click)="battleService.reassignFighter(fighter, battleService.battle.hammer, battleService.battle.dagger, index)">{{'battle-page.group.dagger' | translate}}</button>
                  <button mat-flat-button
                    (click)="battleService.reassignFighter(fighter, battleService.battle.hammer, battleService.battle.shield, index)">{{'battle-page.group.shield' | translate}}</button>
                  <button mat-flat-button
                    (click)="battleService.reassignFighter(fighter, battleService.battle.hammer, battleService.battle.roster, index)">{{'battle-page.group.roster' | translate}}</button>
                </div>
                <smitd-divider-expansion
                  *ngIf="battleService.battle.campaign && (fighter.artefacts.length || fighter.injuries.length || fighter.traits.length)">
                  <span dividerLabel>{{'battle-page.modifiers' | translate}}</span>
                  <div class="modifiers" expansionContent>
                    <ng-container *ngFor="let modifier of fighter.artefacts">
                      <smitd-modifier-card [modifier]="modifier"></smitd-modifier-card>
                    </ng-container>
                    <ng-container *ngFor="let modifier of fighter.injuries">
                      <smitd-modifier-card [modifier]="modifier"></smitd-modifier-card>
                    </ng-container>
                    <ng-container *ngFor="let modifier of fighter.traits">
                      <smitd-modifier-card [modifier]="modifier"></smitd-modifier-card>
                    </ng-container>
                  </div>
                </smitd-divider-expansion>
              </div>
            </smitd-fighter-card>
          </div>
        </div>
        <div class="grid-item roster-container">
          <div class="divider">
            <mat-divider></mat-divider>
            <span class="label">{{'Roster'}}</span>
            <mat-divider></mat-divider>
          </div>
          <div class="fighters-list roster fighters-grid-item" cdkDropList #rosterList="cdkDropList"
            [cdkDropListData]="battleService.battle.roster"
            [cdkDropListConnectedTo]="[hammerList, shieldList, daggerList]"
            (cdkDropListDropped)="battleService.moveFighter($event)">
            <smitd-fighter-card [fighter]="fighter.stats" [fighterReference]="fighter" [mode]="FighterCardMode.list"
              [campaign]="battle.campaign"
              (callAbilities)="warbandService.showAbilities(warband.abilities, fighter.stats, undefined, false, battleService.battle.battlegrounds)"
              *ngFor="let fighter of battleService.battle.roster; let index = index" cdkDrag cdkDragBoundary=".prepare"
              (cdkDragStarted)="dragStarted()" (cdkDragEnded)="dragEnded()">
              <div class="drag-marker" cdkDragHandle></div>
              <div class="options" options>
                <div class="divider">
                  <mat-divider></mat-divider>
                  <span>{{'battle-page.groups' | translate}}</span>
                  <mat-divider></mat-divider>
                </div>
                <div class="actions">
                  <button mat-flat-button
                    (click)="battleService.reassignFighter(fighter, battleService.battle.roster, battleService.battle.dagger, index)">{{'battle-page.group.dagger' | translate}}</button>
                  <button mat-flat-button
                    (click)="battleService.reassignFighter(fighter, battleService.battle.roster, battleService.battle.shield, index)">{{'battle-page.group.shield' | translate}}</button>
                  <button mat-flat-button
                    (click)="battleService.reassignFighter(fighter, battleService.battle.roster, battleService.battle.hammer, index)">{{'battle-page.group.hammer' | translate}}</button>
                </div>
                <smitd-divider-expansion
                  *ngIf="battleService.battle.campaign&& (fighter.artefacts.length || fighter.injuries.length || fighter.traits.length)">
                  <span dividerLabel>{{'battle-page.modifiers' | translate}}</span>
                  <div class="modifiers" expansionContent>
                    <ng-container *ngFor="let modifier of fighter.artefacts">
                      <smitd-modifier-card [modifier]="modifier"></smitd-modifier-card>
                    </ng-container>
                    <ng-container *ngFor="let modifier of fighter.injuries">
                      <smitd-modifier-card [modifier]="modifier"></smitd-modifier-card>
                    </ng-container>
                    <ng-container *ngFor="let modifier of fighter.traits">
                      <smitd-modifier-card [modifier]="modifier"></smitd-modifier-card>
                    </ng-container>
                  </div>
                </smitd-divider-expansion>
              </div>
            </smitd-fighter-card>
          </div>
        </div>
      </div>
    </mat-tab>
    <mat-tab>
      <div class="battle" *ngIf="battle.battleState === 1" [ngClass]="{'single':
      !((battleService.battle.dagger.length && (battleService.battle.hammer.length || battleService.battle.shield.length || battleService.battle.wild.length)) ||
      (battleService.battle.hammer.length && (battleService.battle.dagger.length || battleService.battle.shield.length || battleService.battle.wild.length)) ||
      (battleService.battle.shield.length && (battleService.battle.hammer.length || battleService.battle.dagger.length || battleService.battle.wild.length)))
    }">
        <div class="battle-group">
          <div class="divider"
            *ngIf="battleService.battle.dagger.length && (battleService.battle.hammer.length || battleService.battle.shield.length ||battleService.battle.wild.length)">
            <mat-divider></mat-divider>
            <span class="label">{{'battle-page.group.dagger' | translate}}</span>
            <mat-divider></mat-divider>
          </div>
          <div class="fighters-list dagger" *ngIf="battleService.battle.dagger.length">
            <smitd-fighter-card [fighter]="fighter.stats" [fighterReference]="fighter" [mode]="FighterCardMode.battle"
              [campaign]="battle.campaign"
              (callAbilities)="warbandService.showAbilities(warband.abilities, fighter.stats, undefined, false, battleService.battle.battlegrounds)"
              *ngFor="let fighter of battleService.battle.dagger; let index = index">
              <div class="options" options>
                <div class="divider" *ngIf="battleService.battle.campaign && fighter.availableRenown?.length">
                  <mat-divider></mat-divider>
                  <span>{{'battle-page.renown' | translate}}</span>
                  <mat-divider></mat-divider>
                </div>
                <div class="renowns" *ngIf="battleService.battle.campaign && fighter.availableRenown?.length">
                  <ng-container *ngFor="let renownState of fighter.availableRenown; let renownIndex = index">
                    <div class="renown" (click)="battleService.useRenown(fighter, renownIndex)">
                      <img [src]="'assets/runemarks/fighter-state-' + (renownState ? 'activated' : 'ready') + '.svg'"
                        [alt]="'battle-page.renown' | translate" class="runemark">
                    </div>
                  </ng-container>
                </div>
                <smitd-divider-expansion
                  *ngIf="battleService.battle.campaign && (fighter.artefacts.length || fighter.injuries.length || fighter.traits.length)">
                  <span dividerLabel>{{'battle-page.modifiers' | translate}}</span>
                  <div class="modifiers" expansionContent>
                    <ng-container *ngFor="let modifier of fighter.artefacts">
                      <smitd-modifier-card [modifier]="modifier" [showUsage]="true"></smitd-modifier-card>
                    </ng-container>
                    <ng-container *ngFor="let modifier of fighter.injuries">
                      <smitd-modifier-card [modifier]="modifier" [showUsage]="true"></smitd-modifier-card>
                    </ng-container>
                    <ng-container *ngFor="let modifier of fighter.traits">
                      <smitd-modifier-card [modifier]="modifier" [showUsage]="true"></smitd-modifier-card>
                    </ng-container>
                  </div>
                </smitd-divider-expansion>
                <smitd-divider-expansion>
                  <span dividerLabel>{{'common.options' | translate}}</span>
                  <div class="options" expansionContent>
                    <button mat-flat-button [color]="fighter.carryingTreasure ? 'warn' : 'accent'"
                      *ngIf="canCarry(fighter.stats)"
                      (click)="battleService.toggleTreasure(fighter)">{{('battle-page.options.' + (fighter.carryingTreasure ? 'treasure-drop' : 'treasure-carry')) | translate}}</button>
                    <mat-form-field appearance="fill">
                      <mat-label>{{'battle-page.options.notes' | translate}}</mat-label>
                      <textarea matInput [rows]="4"></textarea>
                    </mat-form-field>
                  </div>
                </smitd-divider-expansion>
              </div>
              <div class="battleframe-header" battleframeHeader>
                <div class="fighter-state" matRipple>
                  <div class="state" (click)="stateSelection.toggle()">
                    <img [src]="'assets/runemarks/fighter-state-' + fighter.state + '.svg'"
                      [alt]="'fighter-card.characteristic.movement' | translate" class="runemark invert">
                  </div>
                  <mat-select #stateSelection [(value)]="fighter.state" (valueChange)="battleService.saveBattle()"
                    [disabled]="fighter.state === FighterState.Dead">
                    <mat-option [value]="FighterState.Ready">{{'fighter-state.' + FighterState.Ready | translate}}
                    </mat-option>
                    <mat-option [value]="FighterState.Waiting">{{'fighter-state.' + FighterState.Waiting | translate}}
                    </mat-option>
                    <mat-option [value]="FighterState.Reacted">{{'fighter-state.' + FighterState.Reacted | translate}}
                    </mat-option>
                    <mat-option [value]="FighterState.Activated">
                      {{'fighter-state.' + FighterState.Activated | translate}}
                    </mat-option>
                  </mat-select>
                </div>
                <div class="wound-counter">
                  <div class="value">{{fighter.wounds}}</div>
                  <button mat-icon-button aria-label="add wounds" [disabled]="fighter.wounds + 1 > fighter.stats.wounds"
                    (click)="alterWounds(fighter, 1)">
                    <mat-icon>keyboard_arrow_up</mat-icon>
                  </button>
                  <button mat-icon-button aria-label="subtract wounds" [disabled]="fighter.wounds - 1 < 0"
                    (click)="alterWounds(fighter, -1)">
                    <mat-icon>keyboard_arrow_down</mat-icon>
                  </button>
                </div>
              </div>
            </smitd-fighter-card>
          </div>
        </div>
        <div class="battle-group">
          <div class="divider"
            *ngIf="battleService.battle.shield.length && (battleService.battle.hammer.length || battleService.battle.dagger.length ||battleService.battle.wild.length)">
            <mat-divider></mat-divider>
            <span class="label">{{'battle-page.group.shield' | translate}}</span>
            <mat-divider></mat-divider>
          </div>
          <div class="fighters-list shield" *ngIf="battleService.battle.shield.length">
            <smitd-fighter-card [fighter]="fighter.stats" [fighterReference]="fighter" [mode]="FighterCardMode.battle"
              [campaign]="battle.campaign"
              (callAbilities)="warbandService.showAbilities(warband.abilities, fighter.stats, undefined, false, battleService.battle.battlegrounds)"
              *ngFor="let fighter of battleService.battle.shield; let index = index">
              <div class="options" options>
                <div class="divider" *ngIf="battleService.battle.campaign && fighter.availableRenown?.length">
                  <mat-divider></mat-divider>
                  <span>{{'battle-page.renown' | translate}}</span>
                  <mat-divider></mat-divider>
                </div>
                <div class="renowns" *ngIf="battleService.battle.campaign && fighter.availableRenown?.length">
                  <ng-container *ngFor="let renownState of fighter.availableRenown; let renownIndex = index">
                    <div class="renown" (click)="battleService.useRenown(fighter, renownIndex)">
                      <img [src]="'assets/runemarks/fighter-state-' + (renownState ? 'activated' : 'ready') + '.svg'"
                        [alt]="'battle-page.renown' | translate" class="runemark">
                    </div>
                  </ng-container>
                </div>
                <smitd-divider-expansion
                  *ngIf="battleService.battle.campaign && (fighter.artefacts.length || fighter.injuries.length || fighter.traits.length)">
                  <span dividerLabel>{{'battle-page.modifiers' | translate}}</span>
                  <div class="modifiers" expansionContent>
                    <ng-container *ngFor="let modifier of fighter.artefacts">
                      <smitd-modifier-card [modifier]="modifier" [showUsage]="true"></smitd-modifier-card>
                    </ng-container>
                    <ng-container *ngFor="let modifier of fighter.injuries">
                      <smitd-modifier-card [modifier]="modifier" [showUsage]="true"></smitd-modifier-card>
                    </ng-container>
                    <ng-container *ngFor="let modifier of fighter.traits">
                      <smitd-modifier-card [modifier]="modifier" [showUsage]="true"></smitd-modifier-card>
                    </ng-container>
                  </div>
                </smitd-divider-expansion>
                <smitd-divider-expansion>
                  <span dividerLabel>{{'common.options' | translate}}</span>
                  <div class="options" expansionContent>
                    <button mat-flat-button [color]="fighter.carryingTreasure ? 'warn' : 'accent'"
                      *ngIf="canCarry(fighter.stats)"
                      (click)="battleService.toggleTreasure(fighter)">{{('battle-page.options.' + (fighter.carryingTreasure ? 'treasure-drop' : 'treasure-carry')) | translate}}</button>
                    <mat-form-field appearance="fill">
                      <mat-label>{{'battle-page.options.notes' | translate}}</mat-label>
                      <textarea matInput [rows]="4"></textarea>
                    </mat-form-field>
                  </div>
                </smitd-divider-expansion>
              </div>
              <div class="battleframe-header" battleframeHeader>
                <div class="fighter-state" matRipple>
                  <div class="state" (click)="stateSelection.toggle()">
                    <img [src]="'assets/runemarks/fighter-state-' + fighter.state + '.svg'"
                      [alt]="'fighter-card.characteristic.movement' | translate" class="runemark invert">
                  </div>
                  <mat-select #stateSelection [(value)]="fighter.state" (valueChange)="battleService.saveBattle()"
                    [disabled]="fighter.state === FighterState.Dead">
                    <mat-option [value]="FighterState.Ready">{{'fighter-state.' + FighterState.Ready | translate}}
                    </mat-option>
                    <mat-option [value]="FighterState.Waiting">{{'fighter-state.' + FighterState.Waiting | translate}}
                    </mat-option>
                    <mat-option [value]="FighterState.Reacted">{{'fighter-state.' + FighterState.Reacted | translate}}
                    </mat-option>
                    <mat-option [value]="FighterState.Activated">
                      {{'fighter-state.' + FighterState.Activated | translate}}
                    </mat-option>
                  </mat-select>
                </div>
                <div class="wound-counter">
                  <div class="value">{{fighter.wounds}}</div>
                  <button mat-icon-button aria-label="add wounds" [disabled]="fighter.wounds + 1 > fighter.stats.wounds"
                    (click)="alterWounds(fighter, 1)">
                    <mat-icon>keyboard_arrow_up</mat-icon>
                  </button>
                  <button mat-icon-button aria-label="subtract wounds" [disabled]="fighter.wounds - 1 < 0"
                    (click)="alterWounds(fighter, -1)">
                    <mat-icon>keyboard_arrow_down</mat-icon>
                  </button>
                </div>
              </div>
            </smitd-fighter-card>
          </div>
        </div>
        <div class="battle-group">
          <div class="divider"
            *ngIf="battleService.battle.hammer.length  && (battleService.battle.dagger.length || battleService.battle.shield.length ||battleService.battle.wild.length)">
            <mat-divider></mat-divider>
            <span class="label">{{'battle-page.group.hammer' | translate}}</span>
            <mat-divider></mat-divider>
          </div>
          <div class="fighters-list hammer" *ngIf="battleService.battle.hammer.length">
            <smitd-fighter-card [fighter]="fighter.stats" [fighterReference]="fighter" [mode]="FighterCardMode.battle"
              [campaign]="battle.campaign"
              (callAbilities)="warbandService.showAbilities(warband.abilities, fighter.stats, undefined, false, battleService.battle.battlegrounds)"
              *ngFor="let fighter of battleService.battle.hammer; let index = index">
              <div class="options" options>
                <div class="divider" *ngIf="battleService.battle.campaign && fighter.availableRenown?.length">
                  <mat-divider></mat-divider>
                  <span>{{'battle-page.renown' | translate}}</span>
                  <mat-divider></mat-divider>
                </div>
                <div class="renowns" *ngIf="battleService.battle.campaign && fighter.availableRenown?.length">
                  <ng-container *ngFor="let renownState of fighter.availableRenown; let renownIndex = index">
                    <div class="renown" (click)="battleService.useRenown(fighter, renownIndex)">
                      <img [src]="'assets/runemarks/fighter-state-' + (renownState ? 'activated' : 'ready') + '.svg'"
                        [alt]="'battle-page.renown' | translate" class="runemark">
                    </div>
                  </ng-container>
                </div>
                <smitd-divider-expansion
                  *ngIf="battleService.battle.campaign && (fighter.artefacts.length || fighter.injuries.length || fighter.traits.length)">
                  <span dividerLabel>{{'battle-page.modifiers' | translate}}</span>
                  <div class="modifiers" expansionContent>
                    <ng-container *ngFor="let modifier of fighter.artefacts">
                      <smitd-modifier-card [modifier]="modifier" [showUsage]="true"></smitd-modifier-card>
                    </ng-container>
                    <ng-container *ngFor="let modifier of fighter.injuries">
                      <smitd-modifier-card [modifier]="modifier" [showUsage]="true"></smitd-modifier-card>
                    </ng-container>
                    <ng-container *ngFor="let modifier of fighter.traits">
                      <smitd-modifier-card [modifier]="modifier" [showUsage]="true"></smitd-modifier-card>
                    </ng-container>
                  </div>
                </smitd-divider-expansion>
                <smitd-divider-expansion>
                  <span dividerLabel>{{'common.options' | translate}}</span>
                  <div class="options" expansionContent>
                    <button mat-flat-button [color]="fighter.carryingTreasure ? 'warn' : 'accent'"
                      *ngIf="canCarry(fighter.stats)"
                      (click)="battleService.toggleTreasure(fighter)">{{('battle-page.options.' + (fighter.carryingTreasure ? 'treasure-drop' : 'treasure-carry')) | translate}}</button>
                    <mat-form-field appearance="fill">
                      <mat-label>{{'battle-page.options.notes' | translate}}</mat-label>
                      <textarea matInput [rows]="4"></textarea>
                    </mat-form-field>
                  </div>
                </smitd-divider-expansion>
              </div>
              <div class="battleframe-header" battleframeHeader>
                <div class="fighter-state" matRipple>
                  <div class="state" (click)="stateSelection.toggle()">
                    <img [src]="'assets/runemarks/fighter-state-' + fighter.state + '.svg'"
                      [alt]="'fighter-card.characteristic.movement' | translate" class="runemark invert">
                  </div>
                  <mat-select #stateSelection [(value)]="fighter.state" (valueChange)="battleService.saveBattle()"
                    [disabled]="fighter.state === FighterState.Dead">
                    <mat-option [value]="FighterState.Ready">{{'fighter-state.' + FighterState.Ready | translate}}
                    </mat-option>
                    <mat-option [value]="FighterState.Waiting">{{'fighter-state.' + FighterState.Waiting | translate}}
                    </mat-option>
                    <mat-option [value]="FighterState.Reacted">{{'fighter-state.' + FighterState.Reacted | translate}}
                    </mat-option>
                    <mat-option [value]="FighterState.Activated">
                      {{'fighter-state.' + FighterState.Activated | translate}}
                    </mat-option>
                  </mat-select>
                </div>
                <div class="wound-counter">
                  <div class="value">{{fighter.wounds}}</div>
                  <button mat-icon-button aria-label="add wounds" [disabled]="fighter.wounds + 1 > fighter.stats.wounds"
                    (click)="alterWounds(fighter, 1)">
                    <mat-icon>keyboard_arrow_up</mat-icon>
                  </button>
                  <button mat-icon-button aria-label="subtract wounds" [disabled]="fighter.wounds - 1 < 0"
                    (click)="alterWounds(fighter, -1)">
                    <mat-icon>keyboard_arrow_down</mat-icon>
                  </button>
                </div>
              </div>
            </smitd-fighter-card>
          </div>
        </div>
        <div class="battle-group wild-container">
          <div class="divider"
            *ngIf="battleService.battle.wild.length  && (battleService.battle.hammer.length || battleService.battle.shield.length ||battleService.battle.dagger.length)">
            <mat-divider></mat-divider>
            <span class="label">{{'battle-page.group.wild' | translate}}</span>
            <mat-divider></mat-divider>
          </div>
          <div class="fighters-list wild" *ngIf="battleService.battle.wild.length">
            <smitd-fighter-card [fighter]="fighter.stats" [fighterReference]="fighter" [mode]="FighterCardMode.battle"
              [campaign]="battle.campaign"
              (callAbilities)="warbandService.showAbilities([], fighter.stats, undefined, false, battleService.battle.battlegrounds)"
              *ngFor="let fighter of battleService.battle.wild; let index = index">
              <div class="options" options>
                <smitd-divider-expansion>
                  <span dividerLabel>{{'common.options' | translate}}</span>
                  <div class="options" expansionContent>
                    <button mat-flat-button [color]="fighter.carryingTreasure ? 'warn' : 'accent'"
                      *ngIf="canCarry(fighter.stats)"
                      (click)="battleService.toggleTreasure(fighter)">{{('battle-page.options.' + (fighter.carryingTreasure ? 'treasure-drop' : 'treasure-carry')) | translate}}</button>
                    <mat-form-field appearance="fill">
                      <mat-label>{{'battle-page.options.notes' | translate}}</mat-label>
                      <textarea matInput [rows]="4"></textarea>
                    </mat-form-field>
                    <button mat-flat-button color="warn"
                      (click)="removeWildFighter(index)">{{'battle-page.battle.remove-wild' | translate}}</button>
                  </div>
                </smitd-divider-expansion>
              </div>
              <div class="battleframe-header" battleframeHeader>
                <div class="fighter-state" matRipple>
                  <div class="state" (click)="stateSelection.toggle()">
                    <img [src]="'assets/runemarks/fighter-state-' + fighter.state + '.svg'"
                      [alt]="'fighter-card.characteristic.movement' | translate" class="runemark invert">
                  </div>
                  <mat-select #stateSelection [(value)]="fighter.state" (valueChange)="battleService.saveBattle()"
                    [disabled]="fighter.state === FighterState.Dead">
                    <mat-option [value]="FighterState.Ready">{{'fighter-state.' + FighterState.Ready | translate}}
                    </mat-option>
                    <mat-option [value]="FighterState.Waiting">{{'fighter-state.' + FighterState.Waiting | translate}}
                    </mat-option>
                    <mat-option [value]="FighterState.Reacted">{{'fighter-state.' + FighterState.Reacted | translate}}
                    </mat-option>
                    <mat-option [value]="FighterState.Activated">
                      {{'fighter-state.' + FighterState.Activated | translate}}
                    </mat-option>
                  </mat-select>
                </div>
                <div class="wound-counter">
                  <div class="value">{{fighter.wounds}}</div>
                  <button mat-icon-button aria-label="add wounds" [disabled]="fighter.wounds + 1 > fighter.stats.wounds"
                    (click)="alterWounds(fighter, 1)">
                    <mat-icon>keyboard_arrow_up</mat-icon>
                  </button>
                  <button mat-icon-button aria-label="subtract wounds" [disabled]="fighter.wounds - 1 < 0"
                    (click)="alterWounds(fighter, -1)">
                    <mat-icon>keyboard_arrow_down</mat-icon>
                  </button>
                </div>
              </div>
            </smitd-fighter-card>
          </div>
        </div>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>

<div class="bottom-action-bar">
  <button mat-raised-button (click)="battleService.abortBattle()"
    *ngIf="battleService.battle.battleState === BattleState.Roster">
    <mat-icon>close</mat-icon>
  </button>
  <button mat-raised-button (click)="battleService.endBattle()"
    *ngIf="battleService.battle.battleState === BattleState.Battle">
    <mat-icon>handshake</mat-icon>
  </button>
  <button mat-raised-button (click)="addFighter()" *ngIf="battleService.battle.battleState === BattleState.Roster">
    <mat-icon>person_add</mat-icon>
  </button>
  <button mat-raised-button (click)="addWildFighter()" *ngIf="battleService.battle.battleState === BattleState.Battle">
    <mat-icon>pets</mat-icon>
  </button>
  <button mat-raised-button (click)="battleService.beginBattle()"
    *ngIf="battleService.battle.battleState === BattleState.Roster">
    <mat-icon svgIcon="swords"></mat-icon>
  </button>
  <button mat-raised-button (click)="endTurn()" *ngIf="battleService.battle.battleState === BattleState.Battle">
    <mat-icon>hourglass_bottom</mat-icon>
  </button>
</div>
