@import 'dimensions';
@import 'globals';

@include header;

@include fighterList;

.fighters {
  display: block;
  width: 100%;
  box-sizing: border-box;
  max-width: $max-width;

  .options {
    width: 100%;
    & > * {
      width: 100%;
    }

    .mat-divider {
      border-top-color: rgba($black, 0.24);
    }

    .actions {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 8px;
    }

    .narrative {
      & > * {
        width: 100%;
      }
    }
  }

  .modifiers,
  .abilities {
    .modifier-card,
    .ability-card {
      position: relative;
      margin-bottom: 12px;

      .modifier-options,
      .ability-options {
        position: absolute;
        top: -4px;
        right: 0;
        display: flex;
        justify-content: flex-end;
      }
    }

    & > button {
      width: 100%;
    }
  }

  .add {
    width: 100%;
    padding: 8px 8px 8px 16px;
    border-radius: 12px;
    font-size: 18px;
    font-weight: bold;
  }
}

.fighters-container,
.campaign,
.warband {
  display: block;
  padding: 12px;
  width: 100%;
  box-sizing: border-box;
  height: calc(100vh - 121px);
  overflow: auto;
  max-width: $max-width;

  & > * {
    width: 100%;
    box-sizing: border-box;
  }

  mat-expansion-panel {
    mat-expansion-panel-header {
      padding: 0 8px;
    }
    margin-bottom: 1.34375em;
  }
}

.warband {
  .abilities {
    display: flex;
    flex-direction: column;
    align-items: center;

    smitd-ability-card:first-of-type {
      margin-top: -18px;
    }

    .ability-card {
      position: relative;
      margin-bottom: 24px;
      width: 100%;

      .ability-options {
        position: absolute;
        top: -14px;
        right: 0;
        display: flex;
        justify-content: flex-end;
      }
    }

    mat-divider {
      width: 100%;
    }
  }
  .add-ability {
    margin: 0 auto;
  }
}

.mat-expansion-panel:not(.mat-expanded):not([aria-disabled='true'])
  .mat-expansion-panel-header:hover,
.mat-expansion-panel-header.mat-expanded:focus,
.mat-expansion-panel-header.mat-expanded:hover {
  background: none;
}

.double.encampment, .double.renown {
  grid-template-columns: 2fr 1fr;
}
