@import 'dimensions';
@import 'globals';

:host {
  display: block;
  height: inherit;
}

@include header;

@include fighterList;

.scroll-container {
  height: calc(100% - 60px);

  @include laptop{
    height: calc(100% - 40px);
  }
}

.fighters-list {
  display: block;
  width: min-content;
  min-height: 100%;
  box-sizing: border-box;

  .modifiers,
  .abilities {
    .modifier-card,
    .ability-card {
      position: relative;
      margin-bottom: 12px;

      .modifier-options,
      .ability-options {
        position: absolute;
        top: -6px;
        right: 0;
        display: flex;
        justify-content: flex-end;
      }
    }

    & > button {
      width: 100%;
    }
  }

  .add {
    width: 100%;
    padding: 8px 8px 8px 16px;
    border-radius: 12px;
    font-size: 18px;
    font-weight: bold;
  }
}

.fighters-grid {
  visibility: hidden;
  position: absolute;
  left: -200%;
  pointer-events: none;
}

.options {
  width: 100%;
  & > * {
    width: 100%;
  }

  .mat-divider {
    border-top-color: rgba($black, 0.24);
  }

  .actions {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 8px;
  }

  .narrative {
    & > * {
      width: 100%;
    }
  }

  .modifiers,
  .abilities {
    .modifier-card,
    .ability-card {
      position: relative;
      margin-bottom: 12px;

      .modifier-options,
      .ability-options {
        position: absolute;
        top: -6px;
        right: 0;
        display: flex;
        justify-content: flex-end;
      }
    }

    & > button {
      width: 100%;
    }
  }

  .add {
    width: 100%;
    padding: 8px 8px 8px 16px;
    border-radius: 12px;
    font-size: 18px;
    font-weight: bold;
  }
}

.fighters-container,
.campaign,
.warband {
  display: block;
  padding: 12px;
  width: 100%;
  box-sizing: border-box;
  height: auto;
  min-height: 100%;
  max-width: $tablet;
  margin: 0 auto;

  & > * {
    width: 100%;
    box-sizing: border-box;
  }

  mat-expansion-panel {
    mat-expansion-panel-header {
      padding: 0 8px;
    }
    margin-bottom: 1.34375em;
  }
}

.warband {
  .abilities {
    display: flex;
    flex-direction: column;
    align-items: center;

    smitd-ability-card:first-of-type {
      margin-top: -18px;
    }

    .ability-card {
      position: relative;
      margin-bottom: 24px;
      width: 100%;

      .ability-options {
        position: absolute;
        top: -16px;
        right: 0;
        display: flex;
        justify-content: flex-end;
      }
    }

    mat-divider {
      width: 100%;
    }
  }
  .add-ability {
    width: 100%;
  }
}

.mat-expansion-panel:not(.mat-expanded):not([aria-disabled='true'])
  .mat-expansion-panel-header:hover,
.mat-expansion-panel-header.mat-expanded:focus,
.mat-expansion-panel-header.mat-expanded:hover {
  background: none;
}

.double.renown {
  grid-template-columns: 2fr 1fr;
}

.triple.name {
  mat-form-field:first-of-type {
    grid-column-start: 1;
    grid-column-end: 3;
  }
}

@include custom(780px) {
  .fighters-container,
  .campaign,
  .warband {
    max-width: unset;
    padding: 12px 24px;
  }

  .fighters-list {
    display: none;
  }

  .fighters-grid {
    display: grid;
    width: 100%;
    min-height: 100%;
    box-sizing: border-box;
    visibility: visible;
    position: relative;
    pointer-events: all;
    left: unset;

    .fighters-grid-item {
      transition: all 0.2s ease-out;
    }

    &.show-items {
      grid-template-rows: repeat(10, 1fr);
      .fighters-grid-item {
        border-radius: 12px;
      }
    }
  }
}
