<smitd-header>
  <button mat-icon-button (click)="core.back()">
    <mat-icon>chevron_left</mat-icon>
  </button>
  <h2>{{warband.name}}</h2>
  <button mat-icon-button [matMenuTriggerFor]="main">
    <mat-icon>menu</mat-icon>
  </button>
  <mat-menu #main="matMenu">
    <button mat-menu-item
      (click)="battleService.prepareBattle(warband)">{{'warband-page.menu.battle' | translate}}</button>
    <button mat-menu-item
      (click)="warbandService.showAbilities(warband.abilities, undefined, warband, true)">{{'warband-page.menu.abilities' | translate}}</button>
    <button mat-menu-item (click)="warbandService.showLogs()"
      *ngIf="warbandService.hasLogs">{{'warband-page.menu.logs' | translate}}</button>
    <button mat-menu-item (click)="loadFighter()">{{'warband-page.menu.fighter-load' | translate}}</button>
    <button mat-menu-item (click)="addFighter()">{{'warband-page.menu.fighter-add' | translate}}</button>
    <button mat-menu-item routerLink="/print">{{'warband-page.menu.print' | translate}}</button>
  </mat-menu>
</smitd-header>

<mat-tab-group color="primary" mat-stretch-tabs dynamicHeight [(selectedIndex)]="activeTab">
  <mat-tab [label]="('warband-page.tab.fighters.title' | translate)">
    <div class="scroll-container">
      <div class="fighters-container">
        <h2>
          <span class="number">{{warbandPointSum(warband)}} <span class="small">{{('common.pts' | translate)}}</span>
          </span> <span class="number"> {{warband.fighters.length}}/20 <span
              class="small">{{('common.fighters' | translate)}}</span></span>
        </h2>
        <div class="fighters-grid" [ngClass]="{'show-items': showGridLayout}" cdkDropListGroup>
          <div class="fighters-grid-item" cdkDropList (cdkDropListDropped)="dropListDropped()"
            (cdkDropListEntered)="cdkDropListEntered($event)">
          </div>
          <div class="fighters-grid-item" cdkDropList *ngFor="let fighter of warband.fighters; let index = index"
            (cdkDropListDropped)="dropListDropped()" (cdkDropListEntered)="cdkDropListEntered($event)">
            <smitd-fighter-card [fighter]="fighter" [mode]="FighterCardMode.list" [campaign]="true"
              (callAbilities)="warbandService.showAbilities(warband.abilities, fighter, warband)" cdkDrag
              (cdkDragStarted)="dragStarted()" (cdkDragEnded)="dragEnded($event)" cdkDragBoundary=".scroll-container">
              <div class="drag-marker" cdkDragHandle></div>
              <div class="options" options>
                <smitd-divider-expansion>
                  <span dividerLabel>{{'warband-page.tab.fighters.form.narrative.label' | translate}}</span>
                  <div class="narrative" expansionContent>
                    <div class="double renown">
                      <mat-form-field appearance="fill">
                        <mat-label>{{'warband-page.tab.fighters.form.narrative.name' | translate}}</mat-label>
                        <input matInput [(ngModel)]="fighter.name"
                          (ngModelChange)="warbandService.updateFighter(fighter, index)">
                      </mat-form-field>
                      <mat-form-field appearance="fill">
                        <mat-label>{{'warband-page.tab.fighters.form.narrative.renown' | translate}}</mat-label>
                        <mat-select [(ngModel)]="fighter.renown"
                          (ngModelChange)="warbandService.updateFighter(fighter, index)">
                          <mat-option [value]="0">{{0}}</mat-option>
                          <mat-option [value]="1">{{1}}</mat-option>
                          <mat-option [value]="2">{{2}}</mat-option>
                          <mat-option [value]="3">{{3}}</mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                    <mat-form-field appearance="fill">
                      <mat-label>{{'warband-page.tab.fighters.form.narrative.notes' | translate}}</mat-label>
                      <textarea matInput [rows]="4" [(ngModel)]="fighter.notes"
                        (ngModelChange)="warbandService.updateFighter(fighter, index)"></textarea>
                    </mat-form-field>
                  </div>
                </smitd-divider-expansion>
                <smitd-divider-expansion>
                  <span dividerLabel>{{'warband-page.tab.fighters.form.modifiers.label' | translate}}</span>
                  <div class="modifiers" expansionContent>
                    <ng-container *ngFor="let modifier of fighter.modifiers; let modifierIndex = index">
                      <div class="modifier-card">
                        <smitd-modifier-card [modifier]="modifier" [edit]="true"></smitd-modifier-card>
                        <div class="modifier-options">
                          <div class="button-wrapper dark">
                            <button class="remove-modifier" mat-mini-fab
                              (click)="editFighterModifier(fighter, index, modifierIndex)">
                              <mat-icon>edit</mat-icon>
                            </button>
                          </div>
                          <div class="button-wrapper dark">
                            <button class="remove-modifier" mat-mini-fab color="warn"
                              (click)="removeFighterModifier(fighter, index, modifierIndex)">
                              <mat-icon>delete</mat-icon>
                            </button>
                          </div>
                        </div>
                      </div>
                    </ng-container>
                    <button class="add-ability" color="accent" mat-flat-button
                      (click)="addFighterModifier(fighter, index)">{{'warband-page.tab.fighters.form.modifiers.add' | translate}}</button>
                  </div>
                </smitd-divider-expansion>
                <smitd-divider-expansion
                  *ngIf="fighter.role === FighterRole.Ally || fighter.role === FighterRole.Monster || fighter.role === FighterRole.Thrall">
                  <span dividerLabel>{{'warband-page.tab.fighters.form.abilities.label' | translate}}</span>
                  <div class="abilities" expansionContent>
                    <ng-container *ngFor="let ability of fighter.abilities; let abilityIndex = index">
                      <div class="ability-card">
                        <smitd-ability-card [ability]="ability" [edit]="true"></smitd-ability-card>
                        <div class="ability-options">
                          <div class="button-wrapper dark">
                            <button class="remove-ability" mat-mini-fab
                              (click)="editFighterAbility(fighter, index, abilityIndex)">
                              <mat-icon>edit</mat-icon>
                            </button>
                          </div>
                          <div class="button-wrapper dark">
                            <button class="remove-ability" mat-mini-fab color="warn"
                              (click)="removeFighterAbility(fighter, index, abilityIndex)">
                              <mat-icon>delete</mat-icon>
                            </button>
                          </div>
                        </div>
                      </div>
                    </ng-container>
                    <button class="add-ability" color="accent" mat-flat-button
                      (click)="addFighterAbility(fighter, index)">{{'warband-page.tab.fighters.form.abilities.add' | translate}}</button>
                  </div>
                </smitd-divider-expansion>
                <div class="divider">
                  <mat-divider></mat-divider>
                  <span>{{'common.options' | translate}}</span>
                  <mat-divider></mat-divider>
                </div>
                <div class="actions">
                  <button mat-flat-button color="accent"
                    (click)="editFighter(fighter, index)">{{'warband-page.tab.fighters.option.edit' | translate}}</button>
                  <button mat-flat-button color="accent"
                    (click)="duplicateFighter(fighter)">{{'warband-page.tab.fighters.option.duplicate' | translate}}</button>
                  <button mat-flat-button color="warn"
                    (click)="warbandService.removeFighter(index)">{{'warband-page.tab.fighters.option.remove' | translate}}</button>
                </div>
              </div>
            </smitd-fighter-card>
          </div>
        </div>
        <div class="fighters-list" cdkDropList (cdkDropListDropped)="warbandService.moveFighter($event)">
          <smitd-fighter-card [fighter]="fighter" [mode]="FighterCardMode.list" [campaign]="true"
            (callAbilities)="warbandService.showAbilities(warband.abilities, fighter, warband)"
            *ngFor="let fighter of warband.fighters; let index = index" cdkDrag cdkDragBoundary=".scroll-container">
            <div class="drag-marker" cdkDragHandle></div>
            <div class="options" options>
              <smitd-divider-expansion>
                <span dividerLabel>{{'warband-page.tab.fighters.form.narrative.label' | translate}}</span>
                <div class="narrative" expansionContent>
                  <div class="double renown">
                    <mat-form-field appearance="fill">
                      <mat-label>{{'warband-page.tab.fighters.form.narrative.name' | translate}}</mat-label>
                      <input matInput [(ngModel)]="fighter.name"
                        (ngModelChange)="warbandService.updateFighter(fighter, index)">
                    </mat-form-field>
                    <mat-form-field appearance="fill">
                      <mat-label>{{'warband-page.tab.fighters.form.narrative.renown' | translate}}</mat-label>
                      <mat-select [(ngModel)]="fighter.renown"
                        (ngModelChange)="warbandService.updateFighter(fighter, index)">
                        <mat-option [value]="0">{{0}}</mat-option>
                        <mat-option [value]="1">{{1}}</mat-option>
                        <mat-option [value]="2">{{2}}</mat-option>
                        <mat-option [value]="3">{{3}}</mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                  <mat-form-field appearance="fill">
                    <mat-label>{{'warband-page.tab.fighters.form.narrative.notes' | translate}}</mat-label>
                    <textarea matInput [rows]="4" [(ngModel)]="fighter.notes"
                      (ngModelChange)="warbandService.updateFighter(fighter, index)"></textarea>
                  </mat-form-field>
                </div>
              </smitd-divider-expansion>
              <smitd-divider-expansion>
                <span dividerLabel>{{'warband-page.tab.fighters.form.modifiers.label' | translate}}</span>
                <div class="modifiers" expansionContent>
                  <ng-container *ngFor="let modifier of fighter.modifiers; let modifierIndex = index">
                    <div class="modifier-card">
                      <smitd-modifier-card [modifier]="modifier" [edit]="true"></smitd-modifier-card>
                      <div class="modifier-options">
                        <div class="button-wrapper dark">
                          <button class="remove-modifier" mat-mini-fab
                            (click)="editFighterModifier(fighter, index, modifierIndex)">
                            <mat-icon>edit</mat-icon>
                          </button>
                        </div>
                        <div class="button-wrapper dark">
                          <button class="remove-modifier" mat-mini-fab color="warn"
                            (click)="removeFighterModifier(fighter, index, modifierIndex)">
                            <mat-icon>delete</mat-icon>
                          </button>
                        </div>
                      </div>
                    </div>
                  </ng-container>
                  <button class="add-ability" color="accent" mat-flat-button
                    (click)="addFighterModifier(fighter, index)">{{'warband-page.tab.fighters.form.modifiers.add' | translate}}</button>
                </div>
              </smitd-divider-expansion>
              <smitd-divider-expansion
                *ngIf="fighter.role === FighterRole.Ally || fighter.role === FighterRole.Monster || fighter.role === FighterRole.Thrall">
                <span dividerLabel>{{'warband-page.tab.fighters.form.abilities.label' | translate}}</span>
                <div class="abilities" expansionContent>
                  <ng-container *ngFor="let ability of fighter.abilities; let abilityIndex = index">
                    <div class="ability-card">
                      <smitd-ability-card [ability]="ability" [edit]="true"></smitd-ability-card>
                      <div class="ability-options">
                        <div class="button-wrapper dark">
                          <button class="remove-ability" mat-mini-fab
                            (click)="editFighterAbility(fighter, index, abilityIndex)">
                            <mat-icon>edit</mat-icon>
                          </button>
                        </div>
                        <div class="button-wrapper dark">
                          <button class="remove-ability" mat-mini-fab color="warn"
                            (click)="removeFighterAbility(fighter, index, abilityIndex)">
                            <mat-icon>delete</mat-icon>
                          </button>
                        </div>
                      </div>
                    </div>
                  </ng-container>
                  <button class="add-ability" color="accent" mat-flat-button
                    (click)="addFighterAbility(fighter, index)">{{'warband-page.tab.fighters.form.abilities.add' | translate}}</button>
                </div>
              </smitd-divider-expansion>
              <div class="divider">
                <mat-divider></mat-divider>
                <span>{{'common.options' | translate}}</span>
                <mat-divider></mat-divider>
              </div>
              <div class="actions">
                <button mat-flat-button color="accent"
                  (click)="editFighter(fighter, index)">{{'warband-page.tab.fighters.option.edit' | translate}}</button>
                <button mat-flat-button color="accent"
                  (click)="duplicateFighter(fighter)">{{'warband-page.tab.fighters.option.duplicate' | translate}}</button>
                <button mat-flat-button color="warn"
                  (click)="warbandService.removeFighter(index)">{{'warband-page.tab.fighters.option.remove' | translate}}</button>
              </div>
            </div>
          </smitd-fighter-card>
        </div>
        <button mat-flat-button color="accent" class="add" *ngIf="!warbandService.selectedWarband.fighters.length"
          (click)="addFighter()">{{'warband-page.menu.fighter-add' | translate}}</button>
      </div>
    </div>
  </mat-tab>
  <mat-tab [label]="'warband-page.tab.warband.title' | translate">
    <div class="scroll-container">
      <form class="warband glass" [formGroup]="warbandForm">
        <div class="double icon">
          <smitd-icon-uploader [iconValue]="icon.value" (iconValueChange)="iconValueChange($event)">
          </smitd-icon-uploader>
          <mat-form-field appearance="fill">
            <mat-label>{{'warband-page.tab.warband.form.name' | translate}}</mat-label>
            <input matInput formControlName="name">
          </mat-form-field>
        </div>
        <div class="double">
          <mat-form-field appearance="fill">
            <mat-label>{{'warband-page.tab.warband.form.alliance' | translate}}</mat-label>
            <input matInput formControlName="alliance">
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>{{'warband-page.tab.warband.form.faction' | translate}}</mat-label>
            <input matInput formControlName="faction">
          </mat-form-field>
        </div>
        <div class="color-picker">
          <mat-form-field appearance="fill">
            <mat-label>{{'warband-page.tab.warband.form.color' | translate}}</mat-label>
            <mat-select formControlName="color" #colorSelect>
              <mat-option *ngFor="let color of colorList" [value]="color.value">{{'color.' + color.key | translate}}
              </mat-option>
            </mat-select>
          </mat-form-field><input class="color-sample" type="color" formControlName="color" [value]="selectedColor">
        </div>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              {{'warband-page.tab.warband.form.abilities.label' | translate}}
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div formArrayName="abilities" class="abilities">
            <ng-container *ngFor="let abilityForm of abilitiesList; let index = index">
              <div class="ability-card">
                <smitd-ability-card [ability]="abilityForm.value" [darkBorders]="false" [edit]="true">
                </smitd-ability-card>
                <div class="ability-options">
                  <div class="button-wrapper">
                    <button class="remove-ability" mat-mini-fab (click)="editAbility(index)">
                      <mat-icon>edit</mat-icon>
                    </button>
                  </div>
                  <div class="button-wrapper">
                    <button class="remove-ability" mat-mini-fab color="warn" (click)="removeAbility(index)">
                      <mat-icon>delete</mat-icon>
                    </button>
                  </div>
                </div>
              </div>
            </ng-container>
            <button class="add-ability" color="accent" mat-flat-button
              (click)="addNewAbility()">{{'warband-page.tab.warband.form.abilities.add' | translate}}</button>
            <div class="double">
              <button class="add-ability" color="accent" mat-flat-button
                (click)="importWarbandAbilities()">{{'warband-page.tab.warband.form.abilities.import' | translate}}</button>
              <button class="add-ability" color="accent" mat-flat-button
                (click)="exportWarbandAbilities()">{{'warband-page.tab.warband.form.abilities.export' | translate}}</button>
            </div>
          </div>
        </mat-expansion-panel>
      </form>
    </div>
  </mat-tab>
  <mat-tab [label]="'warband-page.tab.campaign.title' | translate">
    <div class="scroll-container">
      <form class="campaign glass" [formGroup]="campaignForm">
        <div class="triple name">
          <mat-form-field class="center" appearance="fill">
            <mat-label>{{'warband-page.tab.campaign.form.name' | translate}}</mat-label>
            <input matInput formControlName="name">
          </mat-form-field>
          <mat-form-field class="center" appearance="fill">
            <mat-label>{{'warband-page.tab.campaign.form.progress' | translate}}</mat-label>
            <input matInput type="number" formControlName="progress">
          </mat-form-field>
        </div>
        <div class="triple name">
          <mat-form-field class="center" appearance="fill">
            <mat-label>{{'warband-page.tab.campaign.form.quest' | translate}}</mat-label>
            <input matInput formControlName="quest">
          </mat-form-field>
          <mat-form-field class="center" appearance="fill">
            <mat-label>{{'warband-page.tab.campaign.form.quest-progress' | translate}}</mat-label>
            <input matInput type="number" formControlName="questProgress">
          </mat-form-field>
        </div>
        <div class="triple">
          <mat-form-field class="center" appearance="fill">
            <mat-label>{{'warband-page.tab.campaign.form.limit' | translate}}</mat-label>
            <input matInput type="number" formControlName="limit">
          </mat-form-field>
          <mat-form-field class="center" appearance="fill">
            <mat-label>{{'warband-page.tab.campaign.form.reputation' | translate}}</mat-label>
            <input matInput type="number" formControlName="reputation">
          </mat-form-field>
          <mat-form-field class="center" appearance="fill">
            <mat-label>{{'warband-page.tab.campaign.form.glory' | translate}}</mat-label>
            <input matInput type="number" formControlName="glory">
          </mat-form-field>
        </div>
        <div class="triple name">
          <mat-form-field appearance="fill">
            <mat-label>{{'warband-page.tab.campaign.form.encampment' | translate}}</mat-label>
            <input matInput formControlName="encampment">
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>{{'warband-page.tab.campaign.form.encampment-state' | translate}}</mat-label>
            <mat-select formControlName="encampmentState">
              <mat-option *ngFor="let encampmentState of encampmentStateList" [value]="encampmentState">
                {{'encampment-state.' + encampmentState | translate}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <mat-form-field appearance="fill">
          <mat-label>{{'warband-page.tab.campaign.form.notes' | translate}}</mat-label>
          <textarea matInput formControlName="notes" [rows]="6"></textarea>
        </mat-form-field>
      </form>
    </div>
  </mat-tab>
</mat-tab-group>

<div class="bottom-action-bar">
  <button mat-raised-button (click)="core.back()">
    <mat-icon>arrow_back</mat-icon>
  </button>
  <button mat-raised-button (click)="loadFighter()" *ngIf="activeTab === 0">
    <mat-icon>person_add</mat-icon>
  </button>
  <button mat-raised-button (click)="addNewAbility()" *ngIf="activeTab === 1">
    <mat-icon>add_comment</mat-icon>
  </button>
  <button mat-raised-button (click)="warbandService.showLogs()" *ngIf="activeTab === 2"
    [disabled]="!warbandService.hasLogs">
    <mat-icon>menu_book</mat-icon>
  </button>
  <button mat-raised-button (click)="battleService.prepareBattle(warband)">
    <mat-icon svgIcon="swords"></mat-icon>
  </button>
</div>
