<smitd-header>

  <button mat-icon-button routerLink="">
    <mat-icon>chevron_left</mat-icon>
  </button>

  <h2>{{warband.name}}</h2>

  <button mat-icon-button [matMenuTriggerFor]="main">
    <mat-icon>menu</mat-icon>
  </button>

  <mat-menu #main="matMenu">
    <button mat-menu-item (click)="true">{{'warband-page.menu.quick-battle' | translate}}</button>
    <button mat-menu-item (click)="true" (click)="addFighter()">{{'warband-page.menu.fighter-add' | translate}}</button>
  </mat-menu>
</smitd-header>
<mat-tab-group color="primary" mat-stretch-tabs dynamicHeight>
  <mat-tab [label]="('warband-page.tab.fighters.title' | translate) + ' [' + warband.fighters.length + '/20]'">
    <div class="fighters-container">
      <div class="fighters" cdkDropList (cdkDropListDropped)="warbandService.moveFighter($event)">
        <smitd-fighter-card [fighter]="fighter" [mode]="FighterCardMode.list"
          *ngFor="let fighter of warband.fighters; let index = index" cdkDrag cdkDragBoundary=".fighters">
          <div class="drag-marker" cdkDragHandle></div>
          <div class="options" options>
            <button mat-flat-button color="accent"
              (click)="editFighter(fighter, index)">{{'warband-page.tab.fighters.option.edit' | translate}}</button>
            <button mat-flat-button color="accent"
              (click)="duplicateFighter(fighter)">{{'warband-page.tab.fighters.option.duplicate' | translate}}</button>
            <button mat-flat-button color="warn"
              (click)="warbandService.removeFighter(index)">{{'warband-page.tab.fighters.option.remove' | translate}}</button>
          </div>
        </smitd-fighter-card>
      </div>
    </div>
  </mat-tab>
  <mat-tab [label]="'warband-page.tab.warband.title' | translate">
    <form class="warband glass" [formGroup]="warbandForm">
      <div class="double icon">
        <smitd-icon-uploader [iconValue]="icon.value" (iconValueChange)="iconValueChange($event)"></smitd-icon-uploader>
        <mat-form-field appearance="fill">
          <mat-label>{{'warband-page.tab.warband.form.name' | translate}}</mat-label>
          <input matInput formControlName="name">
        </mat-form-field>
      </div>
      <div class="double">
        <mat-form-field appearance="fill">
          <mat-label>{{'warband-page.tab.warband.form.faction' | translate}}</mat-label>
          <input matInput formControlName="faction">
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>{{'warband-page.tab.warband.form.alliance' | translate}}</mat-label>
          <input matInput formControlName="alliance">
        </mat-form-field>
      </div>
      <div class="color-picker">
        <mat-form-field appearance="fill">
          <mat-label>{{'warband-page.tab.warband.form.color' | translate}}</mat-label>
          <mat-select formControlName="color">
            <mat-option *ngFor="let color of colorList" [value]="color.value">{{'color.' + color.key | translate}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <div class="color-sample" [ngStyle]="{'background-color': selectedColor}"></div>
      </div>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{'warband-page.tab.warband.form.abilities.label' | translate}}
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div formArrayName="abilities" class="abilities">
          <ng-container *ngFor="let abilityForm of abilitiesList; let index = index">
            <smitd-ability-card [ability]="abilityForm.value"></smitd-ability-card>
            <div class="ability-options">
              <mat-divider vertical></mat-divider>
              <button class="remove-ability" mat-flat-button
                (click)="editAbility(index)">{{'warband-page.tab.warband.form.abilities.edit' | translate}}</button>
              <button class="remove-ability" mat-flat-button color="warn"
                (click)="removeAbility(index)">{{'warband-page.tab.warband.form.abilities.remove' | translate}}</button>
              <mat-divider vertical></mat-divider>
            </div>
            <mat-divider></mat-divider>
            <!-- <smitd-ability-form [abilityForm]="abilityForm" [index]="index"></smitd-ability-form> -->
          </ng-container>
          <button class="add-ability" mat-flat-button
            (click)="addNewAbility()">{{'warband-page.tab.warband.form.abilities.add' | translate}}</button>
        </div>
      </mat-expansion-panel>
      <button mat-flat-button color="accent" (click)="updateWarband()"
        [disabled]="warbandForm.invalid">{{'warband-page.tab.warband.update' | translate}}</button>
    </form>
  </mat-tab>
  <mat-tab [label]="'warband-page.tab.campaign.title' | translate">
    <form class="campaign glass" [formGroup]="campaignForm">
      <mat-form-field class="center" appearance="fill">
        <mat-label>{{'warband-page.tab.campaign.form.name' | translate}}</mat-label>
        <input matInput formControlName="name">
      </mat-form-field>
      <div class="triple">
        <mat-form-field class="center" appearance="fill">
          <mat-label>{{'warband-page.tab.campaign.form.limit' | translate}}</mat-label>
          <input matInput type="number" formControlName="limit">
        </mat-form-field>
        <mat-form-field class="center" appearance="fill">
          <mat-label>{{'warband-page.tab.campaign.form.reputation' | translate}}</mat-label>
          <input matInput type="number" formControlName="reputation">
        </mat-form-field>
        <mat-form-field class="center" appearance="fill">
          <mat-label>{{'warband-page.tab.campaign.form.glory' | translate}}</mat-label>
          <input matInput type="number" formControlName="glory">
        </mat-form-field>
      </div>
      <mat-form-field appearance="fill">
        <mat-label>{{'warband-page.tab.campaign.form.notes' | translate}}</mat-label>
        <textarea matInput formControlName="notes" [rows]="20"></textarea>
      </mat-form-field>
      <button mat-flat-button color="accent" (click)="updateCampaign()"
        [disabled]="warbandForm.invalid">{{'warband-page.tab.campaign.update' | translate}}</button>
    </form>
  </mat-tab>
</mat-tab-group>
