:host {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: inherit;
  height: inherit;
}

.content {
  overflow: auto;
  position: relative;
  z-index: 1;
  width: inherit;
  height: inherit;
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow-x: hidden;
}

.background {
  position: absolute;
  z-index: -1;
}
