:host {
  display: contents;
}

footer {
  min-height: 40px;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  overflow: hidden;

  .version {
    font-size: 16px;
  }
}

a {
  text-decoration: none;
  color: inherit;
}
