:host {
  display: contents;
}

footer {
  height: 40px;
  width: 100%;
  position: relative;
  z-index: 10000;
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  .version {
    font-size: 16px;
  }
}
