@import 'colors';
@import 'globals';

:host {
  display: contents;
  position: relative;
}

footer {
  min-height: 40px;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  overflow: hidden;
  color: $white;
  box-shadow: $material-shadow;

  .version {
    font-size: 16px;
  }
}

a {
  text-decoration: none;
  color: inherit;
}
