<div class="divider" [ngClass]="{'edit': edit}">
  <mat-divider [ngClass]="{'dark-borders': darkBorders}"></mat-divider>
  <span>{{fighter.name ? fighter.name : fighter.type }}</span>
  <mat-divider [ngClass]="{'dark-borders': darkBorders}"></mat-divider>
</div>
<span>{{fighter.name ? fighter.type : ('fighter-role.' + fighter.role | translate) }}</span>
<mat-divider [ngClass]="{'dark-borders': darkBorders}"></mat-divider>
<div class="fighter-details" [ngClass]="{'runemarked': showRunemarks && fighter.runemarks.length}">
  <mat-divider [ngClass]="{'dark-borders': darkBorders}" vertical></mat-divider>
  <div class="runemarks" *ngIf="showRunemarks && fighter.runemarks.length">
    <ng-container *ngFor="let runemark of runemarks">
      <img [src]="iconSrc" [alt]="runemark.key" [ngClass]="{'invert': !darkBorders}" class="runemark"
        *ngIf="runemark.icon as iconSrc; else runemarkKey">
      <ng-template #runemarkKey>
        <span>{{runemark.key}}</span>
      </ng-template>
    </ng-container>
  </div>
  <mat-divider [ngClass]="{'dark-borders': darkBorders}" vertical *ngIf="showRunemarks && fighter.runemarks.length">
  </mat-divider>

  <div class="fighter-characteristics">
    <div class="fighter-stats">
      <div class="stat"><img src="assets/runemarks/characteristic-movement.svg"
          [alt]="'fighter-card.characteristic.movement' | translate" class="runemark"><span class="number"
          [ngClass]="{'positive': getModifier('movement') > 0, 'negative':  getModifier('movement') < 0 }">{{ getModified('movement')}}</span>
      </div>
      <div class="stat"><img src="assets/runemarks/characteristic-toughness.svg"
          [alt]="'fighter-card.characteristic.toughness' | translate" class="runemark"><span class="number"
          [ngClass]="{'positive': getModifier('toughness') > 0, 'negative': getModifier('toughness') < 0 }">{{getModified('toughness')}}</span>
      </div>
      <div class="stat"><img src="assets/runemarks/characteristic-wounds.svg"
          [alt]="'fighter-card.characteristic.wounds' | translate" class="runemark"><span class="number"
          [ngClass]="{'positive': getModifier('wounds') > 0, 'negative': getModifier('wounds') < 0 }">{{getModified('wounds')}}</span>
      </div>
    </div>

    <div class="fighter-weapon-header">
      <div><img src="assets/runemarks/characteristic-range.svg" [alt]="'fighter-card.characteristic.range' | translate"
          class="runemark"></div>
      <div><img src="assets/runemarks/characteristic-attacks.svg"
          [alt]="'fighter-card.characteristic.attacks' | translate" class="runemark"></div>
      <div><img src="assets/runemarks/characteristic-strength.svg"
          [alt]="'fighter-card.characteristic.strength' | translate" class="runemark"></div>
      <div><img src="assets/runemarks/characteristic-damage.svg"
          [alt]="'fighter-card.characteristic.damage' | translate" class="runemark"></div>
    </div>
    <div class="fighter-runemarks">
      <ng-container *ngFor="let runemark of runemarks">
        <img [src]="iconSrc" [alt]="runemark.key" class="runemark" *ngIf="runemark.icon as iconSrc; else runemarkKey">
        <ng-template #runemarkKey>
          <span>{{runemark.key}}</span>
        </ng-template>
      </ng-container>
      <span *ngIf="fighter.runemarks.length === 0">{{'fighter-card.characteristic.no-ability' | translate}}</span>
    </div>
    <div class="fighter-weapons">
      <ng-container *ngFor="let weapon of fighter.weapons; let index = index">
        <span class="number" [ngClass]="{'last-row': index === fighter.weapons.length - 1}">{{weapon.range}}</span>
        <span class="number" [ngClass]="{
          'last-row': index === fighter.weapons.length - 1,
          'positive': getModifier('weapon', 'attacks', index) > 0,
          'negative': getModifier('weapon', 'attacks', index) < 0
        }">{{getModified('weapon', 'attacks', index)}}</span>
        <span class="number" [ngClass]="{
          'last-row': index === fighter.weapons.length - 1,
          'positive': getModifier('weapon', 'strength', index) > 0,
          'negative': getModifier('weapon', 'strength', index) < 0
        }">{{getModified('weapon', 'strength', index)}}</span>
        <span class="number" [ngClass]="{'last-row': index === fighter.weapons.length - 1}">
          <span [ngClass]="{
          'positive': getModifier('weapon', 'damage', index) > 0,
          'negative': getModifier('weapon', 'damage', index) < 0
        }">{{getModified('weapon', 'damage', index)}}</span>
          /
          <span [ngClass]="{
          'positive': getModifier('weapon', 'crit', index) > 0,
          'negative': getModifier('weapon', 'crit', index) < 0
        }">{{getModified('weapon', 'crit', index)}}</span>
        </span>
      </ng-container>
    </div>
  </div>

  <mat-divider [ngClass]="{'dark-borders': darkBorders}" vertical></mat-divider>
</div>
<mat-divider [ngClass]="{'dark-borders': darkBorders}"></mat-divider>
<div class="fighter-modifiers" *ngIf="fighter.modifiers.length">
  <mat-divider [ngClass]="{'dark-borders': darkBorders}" vertical></mat-divider>
  <div class="modifiers">
    <p *ngFor="let modifier of fighter.modifiers"><b>{{modifier.name}}</b>: {{modifier.description}}</p>
  </div>
  <mat-divider [ngClass]="{'dark-borders': darkBorders}" vertical></mat-divider>
</div>
<mat-divider [ngClass]="{'dark-borders': darkBorders}" *ngIf="fighter.modifiers.length"></mat-divider>
