<ng-container [formGroup]="abilityForm">
  <div class="double right">
    <mat-form-field appearance="fill">
      <mat-label>{{'ability-form.type' | translate}}</mat-label>
      <mat-select formControlName="type">
        <mat-option *ngFor="let type of AbilityTypeList" [value]="type">{{'ability-type.' + type | translate}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>{{'ability-form.title' | translate}}</mat-label>
      <input matInput formControlName="title">
    </mat-form-field>
  </div>
  <mat-form-field appearance="fill">
    <mat-label>{{'ability-form.runemarks' | translate}}</mat-label>
    <mat-chip-list #runemarkList>
      <mat-chip *ngFor="let runemark of runemarks.value" (removed)="removeRunemark(runemark)">
        <span>
          {{runemark}}
        </span>
        <button matChipRemove>
          <mat-icon>cancel</mat-icon>
        </button>
      </mat-chip>
      <input [placeholder]="'ability-form.placeholder' | translate" #runemarkInput [formControl]="runemarkCtrl" [matChipInputFor]="runemarkList"
        (matChipInputTokenEnd)="addRunemark($event)"[matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="true">
    </mat-chip-list>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>{{'ability-form.prohibitive' | translate}}</mat-label>
    <mat-chip-list #prohibitiveRunemarksList>
      <mat-chip *ngFor="let runemark of prohibitiveRunemarks.value" (removed)="removeProhibitiveRunemarks(runemark)">
        <span>
          {{runemark}}
        </span>
        <button matChipRemove>
          <mat-icon>cancel</mat-icon>
        </button>
      </mat-chip>
      <input [placeholder]="'ability-form.placeholder' | translate" #prohibitiveRunemarkInput [formControl]="prohibitiveRunemarksCtrl" [matChipInputFor]="prohibitiveRunemarksList"
        (matChipInputTokenEnd)="addProhibitiveRunemarks($event)"[matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="true">
    </mat-chip-list>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>{{'ability-form.description' | translate}}</mat-label>
    <textarea matInput formControlName="description" [rows]="4"></textarea>
  </mat-form-field>

</ng-container>
