.dialog-content {
  max-width: 400px;
  margin: 0 auto;
}

h2 {
  padding: 0 16px;
}

form {
  display: flex;
  flex-direction: column;
  padding: 0 16px;

  & > * {
    width: 100%;
  }
}

.actions {
  display: flex;
  justify-content: space-evenly;
  grid-gap: 16px;
  margin-top: 16px;
  padding: 0 16px;
}
