form {
  .center {
    input {
      font-size: 20px;
      transform: translateY(-25%);
    }
  }

  .quad {
    &.closer {
      margin-top: -12px;
    }
    &.monster {
      grid-template-columns: 1fr 1fr 1fr 40px;

      .action {
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
    .center {
      input {
        transform: translate(0);
      }
    }
  }

  .runemark {
    width: 18px;
    height: 18px;
    margin: 4px auto;
  }

  .hint {
    display: flex;
    flex-direction: column;

    span {
      font-size: 12px;
      line-height: 14px;
      text-align: center;
      margin-top: -1.2em;
    }

    & > * {
      width: 100%;
    }
  }

  .double {
    gap: 4px;
  }

  .add-weapon,
  .remove-weapon {
    margin: 16px auto 0;
  }

  mat-chip-list {
    mat-chip {
      span {
        text-transform: capitalize;
      }
    }
  }
}

.runemark-option {
  text-transform: capitalize;
}


.option {
  white-space: normal;
  line-height: 1.2;

  span {
    font-size: 8px;
  }
}
