<smitd-header>

  <button mat-icon-button routerLink="">
    <mat-icon>chevron_left</mat-icon>
  </button>

  <h2>{{'universal-page.title' | translate}}</h2>

  <button mat-icon-button [matMenuTriggerFor]="main">
    <mat-icon>menu</mat-icon>
  </button>

  <mat-menu #main="matMenu">
    <button mat-menu-item (click)="exportAbilities()">{{'universal-page.menu.abilities-export' | translate}}</button>
    <button mat-menu-item (click)="importAbilities()">{{'universal-page.menu.abilities-import' | translate}}</button>
  </mat-menu>
</smitd-header>

    <form class="glass" [formGroup]="universalForm">
        <div formArrayName="abilities" class="abilities">
          <ng-container *ngFor="let abilityForm of abilitiesList; let index = index">
            <div class="ability-card">
              <smitd-ability-card [ability]="abilityForm.value"></smitd-ability-card>
              <div class="ability-options">
                <button class="remove-ability" mat-mini-fab
                  (click)="editAbility(index)"><mat-icon>edit</mat-icon></button>
                <button class="remove-ability" mat-mini-fab color="warn"
                  (click)="removeAbility(index)"><mat-icon>delete</mat-icon></button>
              </div>
            </div>
          </ng-container>
          <button class="add-ability" color="accent" mat-flat-button
            (click)="addNewAbility()">{{'universal-page.abilities.add' | translate}}</button>
        </div>
      <!-- <button mat-flat-button color="accent" (click)="true"
        [disabled]="universalForm.invalid">{{'universal-page.update' | translate}}</button> -->
    </form>
  