@import 'dimensions';
@import 'globals';

@include header;

.glass {
  padding: 12px;
  width: 100%;
  box-sizing: border-box;
  height: calc(100vh - 80px);
  overflow: auto;
  max-width: $max-width;
  margin: 0 auto;
}

.abilities {

  & > * {
    width: 100%;
    box-sizing: border-box;
  }

  display: flex;
  flex-direction: column;
  align-items: center;

  .ability-card {
    position: relative;
    margin-bottom: 24px;

    .ability-options {
      position: absolute;
      top: 8px;
      right: 0;
      display: flex;
      justify-content: flex-end;
    }
  }

  mat-divider {
    width: 100%;
  }
  .add-ability {
    margin: 0 auto;
  }
}
